In [194]:
import pandas as pd
import numpy as np
import os

os.mkdir('clean_class_imbalance')
output_folder = 'clean_class_imbalance/'

### 1. dataset_38_sick.csv

In [195]:
df = pd.read_csv('class_imbalance/dataset_38_sick.csv')

num_cols = df.select_dtypes(include='float64').columns
cat_cols = df.select_dtypes(exclude='float64').columns

df.info()
df.isna().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3772 entries, 0 to 3771
Data columns (total 30 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   age                        3771 non-null   float64
 1   sex                        3622 non-null   object
 2   on_thyroxine               3772 non-null   object
 3   query_on_thyroxine         3772 non-null   object
 4   on_antithyroid_medication  3772 non-null   object
 5   sick                       3772 non-null   object
 6   pregnant                   3772 non-null   object
 7   thyroid_surgery            3772 non-null   object
 8   I131_treatment             3772 non-null   object
 9   query_hypothyroid          3772 non-null   object
 10  query_hyperthyroid         3772 non-null   object
 11  lithium                    3772 non-null   object
 12  goitre                     3772 non-null   object
 13  tumor                      3772 non-null   object
 14  hypopituitary              3772 non-null   object
 15  psych                      3772 non-null   object
 16  TSH_measured               3772 non-null   object
 17  TSH                        3403 non-null   float64
 18  T3_measured                3772 non-null   object
 19  T3                         3003 non-null   float64
 20  TT4_measured               3772 non-null   object
 21  TT4                        3541 non-null   float64
 22  T4U_measured               3772 non-null   object
 23  T4U                        3385 non-null   float64
 24  FTI_measured               3772 non-null   object
 25  FTI                        3387 non-null   float64
 26  TBG_measured               3772 non-null   object
 27  TBG                        0 non-null      float64
 28  referral_source            3772 non-null   object
 29  Class                      3772 non-null   object
dtypes: float64(7), object(23)
memory usage: 884.2+ KB

age                             1
sex                           150
on_thyroxine                    0
query_on_thyroxine              0
on_antithyroid_medication       0
sick                            0
pregnant                        0
thyroid_surgery                 0
I131_treatment                  0
query_hypothyroid               0
query_hyperthyroid              0
lithium                         0
goitre                          0
tumor                           0
hypopituitary                   0
psych                           0
TSH_measured                    0
TSH                           369
T3_measured                     0
T3                            769
TT4_measured                    0
TT4                           231
T4U_measured                    0
T4U                           387
FTI_measured                    0
FTI                           385
TBG_measured                    0
TBG                          3772
referral_source                 0
Class                           0
dtype: int64

In [196]:
df[num_cols] = df[num_cols].fillna(df[num_cols].mean().round(2))

df = df.drop(columns=['TBG'])

for col in cat_cols:
    if df[col].isna().any():
        value_counts = df[col].value_counts(dropna=True)
        if not value_counts.empty:
            most_frequent = value_counts.idxmax()  
            df[col].fillna(most_frequent, inplace=True)

df.isna().sum()

age                          0
sex                          0
on_thyroxine                 0
query_on_thyroxine           0
on_antithyroid_medication    0
sick                         0
pregnant                     0
thyroid_surgery              0
I131_treatment               0
query_hypothyroid            0
query_hyperthyroid           0
lithium                      0
goitre                       0
tumor                        0
hypopituitary                0
psych                        0
TSH_measured                 0
TSH                          0
T3_measured                  0
T3                           0
TT4_measured                 0
TT4                          0
T4U_measured                 0
T4U                          0
FTI_measured                 0
FTI                          0
TBG_measured                 0
referral_source              0
Class                        0
dtype: int64

In [197]:

df['sex'] = df['sex'].map({'F': 0, 'M': 1}) 
df['on_thyroxine'] = df['on_thyroxine'].map({'f': 0, 't': 1})
df['query_on_thyroxine'] = df['query_on_thyroxine'].map({'f': 0, 't': 1})
df['on_antithyroid_medication'] = df['on_antithyroid_medication'].map({'f': 0, 't': 1})
df['sick'] = df['sick'].map({'f': 0, 't': 1})
df['pregnant'] = df['pregnant'].map({'f': 0, 't': 1})
df['thyroid_surgery'] = df['thyroid_surgery'].map({'f': 0, 't': 1})
df['I131_treatment'] = df['I131_treatment'].map({'f': 0, 't': 1})
df['query_hypothyroid'] = df['query_hypothyroid'].map({'f': 0, 't': 1})
df['query_hyperthyroid'] = df['query_hyperthyroid'].map({'f': 0, 't': 1})
df['lithium'] = df['lithium'].map({'f': 0, 't': 1})
df['goitre'] = df['goitre'].map({'f': 0, 't': 1})
df['tumor'] = df['tumor'].map({'f': 0, 't': 1})
df['hypopituitary'] = df['hypopituitary'].map({'f': 0, 't': 1})
df['psych'] = df['psych'].map({'f': 0, 't': 1})
df['TSH_measured'] = df['TSH_measured'].map({'f': 0, 't': 1})
df['T3_measured'] = df['T3_measured'].map({'f': 0, 't': 1})
df['TT4_measured'] = df['TT4_measured'].map({'f': 0, 't': 1})
df['T4U_measured'] = df['T4U_measured'].map({'f': 0, 't': 1})
df['FTI_measured'] = df['FTI_measured'].map({'f': 0, 't': 1})
df['TBG_measured'] = df['TBG_measured'].map({'f': 0, 't': 1})

df = pd.get_dummies(df, columns=['referral_source'])

df['Class'] = df['Class'].map({'negative': 0, 'sick': 1})
target = df['Class']
df.drop(columns=['Class'], inplace=True)
df['Class'] = target

In [198]:
df.info()
df.to_csv(os.path.join(output_folder, 'dataset_38_sick.csv'), index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3772 entries, 0 to 3771
Data columns (total 33 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   age                        3772 non-null   float64
 1   sex                        3772 non-null   int64
 2   on_thyroxine               3772 non-null   int64
 3   query_on_thyroxine         3772 non-null   int64
 4   on_antithyroid_medication  3772 non-null   int64
 5   sick                       3772 non-null   int64
 6   pregnant                   3772 non-null   int64
 7   thyroid_surgery            3772 non-null   int64
 8   I131_treatment             3772 non-null   int64
 9   query_hypothyroid          3772 non-null   int64
 10  query_hyperthyroid         3772 non-null   int64
 11  lithium                    3772 non-null   int64
 12  goitre                     3772 non-null   int64
 13  tumor                      3772 non-null   int64
 14  hypopituitary              3772 non-null   int64
 15  psych                      3772 non-null   int64
 16  TSH_measured               3772 non-null   int64
 17  TSH                        3772 non-null   float64
 18  T3_measured                3772 non-null   int64
 19  T3                         3772 non-null   float64
 20  TT4_measured               3772 non-null   int64
 21  TT4                        3772 non-null   float64
 22  T4U_measured               3772 non-null   int64
 23  T4U                        3772 non-null   float64
 24  FTI_measured               3772 non-null   int64
 25  FTI                        3772 non-null   float64
 26  TBG_measured               3772 non-null   int64
 27  referral_source_STMW       3772 non-null   bool
 28  referral_source_SVHC       3772 non-null   bool
 29  referral_source_SVHD       3772 non-null   bool
 30  referral_source_SVI        3772 non-null   bool
 31  referral_source_other      3772 non-null   bool
 32  Class                      3772 non-null   int64
dtypes: bool(5), float64(6), int64(22)
memory usage: 843.7 KB

### 2. dataset_311_oil_spill.csv

In [289]:
df = pd.read_csv('class_imbalance/dataset_311_oil_spill.csv')
df.info()

df['class']=df['class'].replace(-1,0)

df.to_csv(os.path.join(output_folder, 'dataset_311_oil_spill.csv'), index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 937 entries, 0 to 936
Data columns (total 50 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   attr1   937 non-null    float64
 1   attr2   937 non-null    float64
 2   attr3   937 non-null    float64
 3   attr4   937 non-null    float64
 4   attr5   937 non-null    int64
 5   attr6   937 non-null    float64
 6   attr7   937 non-null    float64
 7   attr8   937 non-null    float64
 8   attr9   937 non-null    float64
 9   attr10  937 non-null    float64
 10  attr11  937 non-null    float64
 11  attr12  937 non-null    float64
 12  attr13  937 non-null    float64
 13  attr14  937 non-null    float64
 14  attr15  937 non-null    float64
 15  attr16  937 non-null    float64
 16  attr17  937 non-null    float64
 17  attr18  937 non-null    float64
 18  attr19  937 non-null    float64
 19  attr20  937 non-null    float64
 20  attr21  937 non-null    float64
 21  attr22  937 non-null    float64
 22  attr23  937 non-null    int64
 23  attr24  937 non-null    float64
 24  attr25  937 non-null    float64
 25  attr26  937 non-null    float64
 26  attr27  937 non-null    float64
 27  attr28  937 non-null    float64
 28  attr29  937 non-null    float64
 29  attr30  937 non-null    float64
 30  attr31  937 non-null    float64
 31  attr32  937 non-null    float64
 32  attr33  937 non-null    float64
 33  attr34  937 non-null    float64
 34  attr35  937 non-null    float64
 35  attr36  937 non-null    float64
 36  attr37  937 non-null    float64
 37  attr38  937 non-null    float64
 38  attr39  937 non-null    int64
 39  attr40  937 non-null    int64
 40  attr41  937 non-null    float64
 41  attr42  937 non-null    float64
 42  attr43  937 non-null    float64
 43  attr44  937 non-null    float64
 44  attr45  937 non-null    float64
 45  attr46  937 non-null    int64
 46  attr47  937 non-null    float64
 47  attr48  937 non-null    float64
 48  attr49  937 non-null    float64
 49  class   937 non-null    int64
dtypes: float64(44), int64(6)
memory usage: 366.1 KB

### 3. dataset_312_scene.csv

In [200]:
df = pd.read_csv('class_imbalance/dataset_312_scene.csv')
df.info()

os.rename('class_imbalance/dataset_312_scene.csv', 'clean_class_imbalance/dataset_312_scene.csv')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2407 entries, 0 to 2406
Columns: 300 entries, attr1 to Urban
dtypes: float64(294), int64(6)
memory usage: 5.5 MB

### 4. dataset_316_yeast_ml8.csv

In [201]:
df = pd.read_csv('class_imbalance/dataset_316_yeast_ml8.csv')
df.info()

os.rename('class_imbalance/dataset_316_yeast_ml8.csv', 'clean_class_imbalance/dataset_316_yeast_ml8.csv')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2417 entries, 0 to 2416
Columns: 117 entries, attr1 to class14
dtypes: float64(103), int64(14)
memory usage: 2.2 MB

### 5. dataset_450_analcatdata_lawsuit.csv

In [202]:
df = pd.read_csv('class_imbalance/dataset_450_analcatdata_lawsuit.csv')
df.info()

os.rename('class_imbalance/dataset_450_analcatdata_lawsuit.csv', 'clean_class_imbalance/dataset_450_analcatdata_lawsuit.csv')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 264 entries, 0 to 263
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Length.of.service  264 non-null    float64
 1   CAP                264 non-null    int64
 2   PA.normalized      264 non-null    float64
 3   Minority           264 non-null    int64
 4   Laid.off           264 non-null    int64
dtypes: float64(2), int64(3)
memory usage: 10.4 KB

### 6. dataset_463_backache.csv

In [203]:
df = pd.read_csv('class_imbalance/dataset_463_backache.csv')
df.info()

os.rename('class_imbalance/dataset_463_backache.csv', 'clean_class_imbalance/dataset_463_backache.csv')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180 entries, 0 to 179
Data columns (total 32 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   col_2   180 non-null    int64
 1   col_3   180 non-null    int64
 2   col_4   180 non-null    int64
 3   col_5   180 non-null    float64
 4   col_6   180 non-null    float64
 5   col_7   180 non-null    float64
 6   col_8   180 non-null    float64
 7   col_9   180 non-null    int64
 8   col_10  180 non-null    int64
 9   col_11  180 non-null    int64
 10  col_12  180 non-null    int64
 11  col_13  180 non-null    int64
 12  col_14  180 non-null    int64
 13  col_15  180 non-null    int64
 14  col_16  180 non-null    int64
 15  col_17  180 non-null    int64
 16  col_18  180 non-null    int64
 17  col_19  180 non-null    int64
 18  col_20  180 non-null    int64
 19  col_21  180 non-null    int64
 20  col_22  180 non-null    int64
 21  col_23  180 non-null    int64
 22  col_24  180 non-null    int64
 23  col_25  180 non-null    int64
 24  col_26  180 non-null    int64
 25  col_27  180 non-null    int64
 26  col_28  180 non-null    int64
 27  col_29  180 non-null    int64
 28  col_30  180 non-null    int64
 29  col_31  180 non-null    int64
 30  col_32  180 non-null    int64
 31  col_33  180 non-null    int64
dtypes: float64(4), int64(28)
memory usage: 45.1 KB

### 7. dataset_757_meta.csv

In [204]:
df = pd.read_csv('class_imbalance/dataset_757_meta.csv')
df.info()
df.isna().sum()

df['DS_Name'].nunique()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 528 entries, 0 to 527
Data columns (total 22 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   DS_Name      528 non-null    object
 1   T            528 non-null    float64
 2   N            528 non-null    float64
 3   p            528 non-null    int64
 4   k            528 non-null    int64
 5   Bin          528 non-null    int64
 6   Cost         528 non-null    int64
 7   SDratio      528 non-null    float64
 8   correl       504 non-null    float64
 9   cancor1      528 non-null    float64
 10  cancor2      288 non-null    float64
 11  fract1       528 non-null    float64
 12  fract2       288 non-null    float64
 13  skewness     528 non-null    float64
 14  kurtosis     528 non-null    float64
 15  Hc           528 non-null    float64
 16  Hx           528 non-null    float64
 17  MCx          528 non-null    float64
 18  EnAtr        528 non-null    float64
 19  NSRatio      528 non-null    float64
 20  Alg_Name     528 non-null    object
 21  binaryClass  528 non-null    object
dtypes: float64(15), int64(4), object(3)
memory usage: 90.9+ KB

22

In [205]:
df = df.drop('DS_Name',axis=1)

df = pd.get_dummies(df, columns=['Alg_Name'])
#df.info()

df['binaryClass'] = df['binaryClass'].map({'N': 0, 'P': 1}) 
#df.info()

target = df['binaryClass']
df.drop(columns=['binaryClass'], inplace=True)
df['binaryClass'] = target

df.info()

df.to_csv(os.path.join(output_folder, 'dataset_757_meta.csv'), index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 528 entries, 0 to 527
Data columns (total 44 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   T                   528 non-null    float64
 1   N                   528 non-null    float64
 2   p                   528 non-null    int64
 3   k                   528 non-null    int64
 4   Bin                 528 non-null    int64
 5   Cost                528 non-null    int64
 6   SDratio             528 non-null    float64
 7   correl              504 non-null    float64
 8   cancor1             528 non-null    float64
 9   cancor2             288 non-null    float64
 10  fract1              528 non-null    float64
 11  fract2              288 non-null    float64
 12  skewness            528 non-null    float64
 13  kurtosis            528 non-null    float64
 14  Hc                  528 non-null    float64
 15  Hx                  528 non-null    float64
 16  MCx                 528 non-null    float64
 17  EnAtr               528 non-null    float64
 18  NSRatio             528 non-null    float64
 19  Alg_Name_Ac2        528 non-null    bool
 20  Alg_Name_Alloc80    528 non-null    bool
 21  Alg_Name_BackProp   528 non-null    bool
 22  Alg_Name_Bayes      528 non-null    bool
 23  Alg_Name_BayesTree  528 non-null    bool
 24  Alg_Name_C4_5       528 non-null    bool
 25  Alg_Name_CART       528 non-null    bool
 26  Alg_Name_Cal5       528 non-null    bool
 27  Alg_Name_Cascade    528 non-null    bool
 28  Alg_Name_Castle     528 non-null    bool
 29  Alg_Name_Cn2        528 non-null    bool
 30  Alg_Name_Default    528 non-null    bool
 31  Alg_Name_Dipol92    528 non-null    bool
 32  Alg_Name_Discrim    528 non-null    bool
 33  Alg_Name_ITrule     528 non-null    bool
 34  Alg_Name_IndCART    528 non-null    bool
 35  Alg_Name_KNN        528 non-null    bool
 36  Alg_Name_Kohonen    528 non-null    bool
 37  Alg_Name_LVQ        528 non-null    bool
 38  Alg_Name_LogDisc    528 non-null    bool
 39  Alg_Name_NewId      528 non-null    bool
 40  Alg_Name_QuaDisc    528 non-null    bool
 41  Alg_Name_RBF        528 non-null    bool
 42  Alg_Name_Smart      528 non-null    bool
 43  binaryClass         528 non-null    int64
dtypes: bool(24), float64(15), int64(5)
memory usage: 95.0 KB

### 8. dataset_764_analcatdata_apnea3.csv

In [206]:
df = pd.read_csv('class_imbalance/dataset_764_analcatdata_apnea3.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 450 entries, 0 to 449
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Automatic    450 non-null    object
 1   Scorer_2     450 non-null    object
 2   Subject      450 non-null    int64
 3   binaryClass  450 non-null    object
dtypes: int64(1), object(3)
memory usage: 14.2+ KB

In [207]:
df = pd.get_dummies(df,columns=['Automatic','Scorer_2'])
#df.info()

df['binaryClass'] = df['binaryClass'].map({'N': 0, 'P': 1})

target = df['binaryClass']
df.drop(columns=['binaryClass'], inplace=True)
df['binaryClass'] = target

df.to_csv(os.path.join(output_folder, 'dataset_764_analcatdata_apnea3.csv'), index=False)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 450 entries, 0 to 449
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Subject       450 non-null    int64
 1   Automatic_CA  450 non-null    bool
 2   Automatic_H   450 non-null    bool
 3   Automatic_MA  450 non-null    bool
 4   Automatic_N   450 non-null    bool
 5   Automatic_OA  450 non-null    bool
 6   Scorer_2_CA   450 non-null    bool
 7   Scorer_2_H    450 non-null    bool
 8   Scorer_2_MA   450 non-null    bool
 9   Scorer_2_N    450 non-null    bool
 10  Scorer_2_OA   450 non-null    bool
 11  binaryClass   450 non-null    int64
dtypes: bool(10), int64(2)
memory usage: 11.6 KB

### 9. dataset_765_analcatdata_apnea2.csv

In [208]:
df = pd.read_csv('class_imbalance/dataset_765_analcatdata_apnea2.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 475 entries, 0 to 474
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Automatic    475 non-null    object
 1   Scorer_1     475 non-null    object
 2   Subject      475 non-null    int64
 3   binaryClass  475 non-null    object
dtypes: int64(1), object(3)
memory usage: 15.0+ KB

In [209]:
df = pd.get_dummies(df,columns=['Automatic','Scorer_1'])
df.info()

df['binaryClass'] = df['binaryClass'].map({'N': 0, 'P': 1})

target = df['binaryClass']
df.drop(columns=['binaryClass'], inplace=True)
df['binaryClass'] = target

df.to_csv(os.path.join(output_folder, 'dataset_765_analcatdata_apnea2.csv'), index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 475 entries, 0 to 474
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Subject       475 non-null    int64
 1   binaryClass   475 non-null    object
 2   Automatic_CA  475 non-null    bool
 3   Automatic_H   475 non-null    bool
 4   Automatic_MA  475 non-null    bool
 5   Automatic_N   475 non-null    bool
 6   Automatic_OA  475 non-null    bool
 7   Scorer_1_CA   475 non-null    bool
 8   Scorer_1_H    475 non-null    bool
 9   Scorer_1_MA   475 non-null    bool
 10  Scorer_1_N    475 non-null    bool
 11  Scorer_1_OA   475 non-null    bool
dtypes: bool(10), int64(1), object(1)
memory usage: 12.2+ KB

### 10. dataset_767_analcatdata_apnea1.csv

In [210]:
df = pd.read_csv('class_imbalance/dataset_767_analcatdata_apnea1.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 475 entries, 0 to 474
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Scorer_1     475 non-null    object
 1   Scorer_2     475 non-null    object
 2   Subject      475 non-null    int64
 3   binaryClass  475 non-null    object
dtypes: int64(1), object(3)
memory usage: 15.0+ KB

In [211]:
df = pd.get_dummies(df,columns=['Scorer_1','Scorer_2'])

df['binaryClass'] = df['binaryClass'].map({'N': 0, 'P': 1})

target = df['binaryClass']
df.drop(columns=['binaryClass'], inplace=True)
df['binaryClass'] = target
df.info()

df.to_csv(os.path.join(output_folder, 'dataset_767_analcatdata_apnea1.csv'), index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 475 entries, 0 to 474
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Subject      475 non-null    int64
 1   Scorer_1_CA  475 non-null    bool
 2   Scorer_1_H   475 non-null    bool
 3   Scorer_1_MA  475 non-null    bool
 4   Scorer_1_N   475 non-null    bool
 5   Scorer_1_OA  475 non-null    bool
 6   Scorer_2_CA  475 non-null    bool
 7   Scorer_2_H   475 non-null    bool
 8   Scorer_2_MA  475 non-null    bool
 9   Scorer_2_N   475 non-null    bool
 10  Scorer_2_OA  475 non-null    bool
 11  binaryClass  475 non-null    int64
dtypes: bool(10), int64(2)
memory usage: 12.2 KB

### 11. dataset_865_analcatdata_neavote.csv

In [212]:
df = pd.read_csv('class_imbalance/dataset_865_analcatdata_neavote.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Party        100 non-null    object
 1   Favorable    100 non-null    int64
 2   binaryClass  100 non-null    object
dtypes: int64(1), object(2)
memory usage: 2.5+ KB

In [213]:
df = pd.get_dummies(df,columns=['Party'])

df['binaryClass'] = df['binaryClass'].map({'N': 0, 'P': 1})

target = df['binaryClass']
df.drop(columns=['binaryClass'], inplace=True)
df['binaryClass'] = target

df.info()

df.to_csv(os.path.join(output_folder, 'dataset_865_analcatdata_neavote.csv'), index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Favorable    100 non-null    int64
 1   Party_D      100 non-null    bool
 2   Party_I      100 non-null    bool
 3   Party_R      100 non-null    bool
 4   binaryClass  100 non-null    int64
dtypes: bool(3), int64(2)
memory usage: 2.0 KB

### 12. dataset_867_visualizing_livestock.csv

In [214]:
df = pd.read_csv('class_imbalance/dataset_867_visualizing_livestock.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 130 entries, 0 to 129
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   livestocktype  130 non-null    object
 1   country        130 non-null    object
 2   binaryClass    130 non-null    object
dtypes: object(3)
memory usage: 3.2+ KB

In [215]:
df = pd.get_dummies(df,columns=['livestocktype','country'])
#df.info()

df['binaryClass'] = df['binaryClass'].map({'N': 0, 'P': 1})

target = df['binaryClass']
df.drop(columns=['binaryClass'], inplace=True)
df['binaryClass'] = target

df.info()

df.to_csv(os.path.join(output_folder, 'dataset_867_visualizing_livestock.csv'), index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 130 entries, 0 to 129
Data columns (total 32 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   livestocktype_Cattle    130 non-null    bool
 1   livestocktype_Horses    130 non-null    bool
 2   livestocktype_Pigs      130 non-null    bool
 3   livestocktype_Poultry   130 non-null    bool
 4   livestocktype_Sheep     130 non-null    bool
 5   country_Albania         130 non-null    bool
 6   country_Austria         130 non-null    bool
 7   country_Belgium         130 non-null    bool
 8   country_Bulgaria        130 non-null    bool
 9   country_Czechoslovakia  130 non-null    bool
 10  country_Denmark         130 non-null    bool
 11  country_East_Germany    130 non-null    bool
 12  country_Finland         130 non-null    bool
 13  country_France          130 non-null    bool
 14  country_Greece          130 non-null    bool
 15  country_Hungary         130 non-null    bool
 16  country_Ireland         130 non-null    bool
 17  country_Italy           130 non-null    bool
 18  country_Netherlands     130 non-null    bool
 19  country_Norway          130 non-null    bool
 20  country_Poland          130 non-null    bool
 21  country_Portugal        130 non-null    bool
 22  country_Romania         130 non-null    bool
 23  country_Russia_et_al.   130 non-null    bool
 24  country_Spain           130 non-null    bool
 25  country_Sweden          130 non-null    bool
 26  country_Switzerland     130 non-null    bool
 27  country_Turkey          130 non-null    bool
 28  country_United_Kingdom  130 non-null    bool
 29  country_West_Germany    130 non-null    bool
 30  country_Yugoslavia      130 non-null    bool
 31  binaryClass             130 non-null    int64
dtypes: bool(31), int64(1)
memory usage: 5.1 KB

### 13. dataset_875_analcatdata_chlamydia.csv

In [216]:
df = pd.read_csv('class_imbalance/dataset_875_analcatdata_chlamydia.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Age          100 non-null    object
 1   Gender       100 non-null    object
 2   Race         100 non-null    object
 3   binaryClass  100 non-null    object
dtypes: object(4)
memory usage: 3.3+ KB

In [217]:
df['Gender'] = df['Gender'].map({'F': 0, 'M': 1})
df= pd.get_dummies(df, columns=['Age','Race'])
#df.info()

df['binaryClass'] = df['binaryClass'].map({'N': 0, 'P': 1})

target = df['binaryClass']
df.drop(columns=['binaryClass'], inplace=True)  
df['binaryClass'] = target

df.info()
df.to_csv(os.path.join(output_folder, 'dataset_875_analcatdata_chlamydia.csv'), index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 17 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Gender                     0 non-null      float64
 1   Age_10-14                  100 non-null    bool
 2   Age_15-19                  100 non-null    bool
 3   Age_20-24                  100 non-null    bool
 4   Age_25-29                  100 non-null    bool
 5   Age_30-34                  100 non-null    bool
 6   Age_35-39                  100 non-null    bool
 7   Age_40-44                  100 non-null    bool
 8   Age_45-54                  100 non-null    bool
 9   Age_55-64                  100 non-null    bool
 10  Age_65+                    100 non-null    bool
 11  Race_American_Indian       100 non-null    bool
 12  Race_Asian/Pacific_Island  100 non-null    bool
 13  Race_Black                 100 non-null    bool
 14  Race_Hispanic              100 non-null    bool
 15  Race_White                 100 non-null    bool
 16  binaryClass                100 non-null    int64
dtypes: bool(15), float64(1), int64(1)
memory usage: 3.2 KB

### 14. dataset_940_water-treatment.csv

In [218]:
df = pd.read_csv('class_imbalance/dataset_940_water-treatment.csv')

num_cols = df.select_dtypes(include=['float64','int64']).columns

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 527 entries, 0 to 526
Data columns (total 37 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ZN-E         524 non-null    float64
 1   PH-E         527 non-null    float64
 2   DBO-E        504 non-null    float64
 3   DQO-E        521 non-null    float64
 4   SS-E         526 non-null    float64
 5   SSV-E        516 non-null    float64
 6   SED-E        502 non-null    float64
 7   COND-E       527 non-null    int64
 8   PH-P         527 non-null    float64
 9   DBO-P        487 non-null    float64
 10  SS-P         527 non-null    int64
 11  SSV-P        516 non-null    float64
 12  SED-P        503 non-null    float64
 13  COND-P       527 non-null    int64
 14  PH-D         527 non-null    float64
 15  DBO-D        499 non-null    float64
 16  DQO-D        518 non-null    float64
 17  SS-D         525 non-null    float64
 18  SSV-D        514 non-null    float64
 19  SED-D        502 non-null    float64
 20  COND-D       527 non-null    int64
 21  PH-S         526 non-null    float64
 22  DBO-S        504 non-null    float64
 23  DQO-S        509 non-null    float64
 24  SS-S         522 non-null    float64
 25  SSV-S        510 non-null    float64
 26  SED-S        499 non-null    float64
 27  COND-S       526 non-null    float64
 28  RD-DBO-P     465 non-null    float64
 29  RD-SS-P      523 non-null    float64
 30  RD-SED-P     500 non-null    float64
 31  RD-DBO-S     487 non-null    float64
 32  RD-DQO-S     501 non-null    float64
 33  RD-DBO-G     491 non-null    float64
 34  RD-DQO-G     502 non-null    float64
 35  RD-SS-G      519 non-null    float64
 36  binaryClass  527 non-null    object
dtypes: float64(32), int64(4), object(1)
memory usage: 152.5+ KB

In [219]:
df[num_cols] = df[num_cols].fillna(df[num_cols].mean().round(2))

df['binaryClass'] = df['binaryClass'].map({'N': 0, 'P': 1})

df.info()
df.to_csv(os.path.join(output_folder, 'dataset_940_water-treatment.csv'), index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 527 entries, 0 to 526
Data columns (total 37 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ZN-E         527 non-null    float64
 1   PH-E         527 non-null    float64
 2   DBO-E        527 non-null    float64
 3   DQO-E        527 non-null    float64
 4   SS-E         527 non-null    float64
 5   SSV-E        527 non-null    float64
 6   SED-E        527 non-null    float64
 7   COND-E       527 non-null    int64
 8   PH-P         527 non-null    float64
 9   DBO-P        527 non-null    float64
 10  SS-P         527 non-null    int64
 11  SSV-P        527 non-null    float64
 12  SED-P        527 non-null    float64
 13  COND-P       527 non-null    int64
 14  PH-D         527 non-null    float64
 15  DBO-D        527 non-null    float64
 16  DQO-D        527 non-null    float64
 17  SS-D         527 non-null    float64
 18  SSV-D        527 non-null    float64
 19  SED-D        527 non-null    float64
 20  COND-D       527 non-null    int64
 21  PH-S         527 non-null    float64
 22  DBO-S        527 non-null    float64
 23  DQO-S        527 non-null    float64
 24  SS-S         527 non-null    float64
 25  SSV-S        527 non-null    float64
 26  SED-S        527 non-null    float64
 27  COND-S       527 non-null    float64
 28  RD-DBO-P     527 non-null    float64
 29  RD-SS-P      527 non-null    float64
 30  RD-SED-P     527 non-null    float64
 31  RD-DBO-S     527 non-null    float64
 32  RD-DQO-S     527 non-null    float64
 33  RD-DBO-G     527 non-null    float64
 34  RD-DQO-G     527 non-null    float64
 35  RD-SS-G      527 non-null    float64
 36  binaryClass  527 non-null    int64
dtypes: float64(32), int64(5)
memory usage: 152.5 KB

### 15. dataset_947_arsenic-male-bladder.csv

In [220]:
df = pd.read_csv('class_imbalance/dataset_947_arsenic-male-bladder.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 559 entries, 0 to 558
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   group        559 non-null    int64
 1   conc         559 non-null    float64
 2   age          559 non-null    float64
 3   at.risk      559 non-null    float64
 4   binaryClass  559 non-null    object
dtypes: float64(3), int64(1), object(1)
memory usage: 22.0+ KB

In [221]:
df['binaryClass'] = df['binaryClass'].map({'N': 0, 'P': 1})

df.info()
df.to_csv(os.path.join(output_folder, 'dataset_947_arsenic-male-bladder.csv'), index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 559 entries, 0 to 558
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   group        559 non-null    int64
 1   conc         559 non-null    float64
 2   age          559 non-null    float64
 3   at.risk      559 non-null    float64
 4   binaryClass  559 non-null    int64
dtypes: float64(3), int64(2)
memory usage: 22.0 KB

### 16. dataset_949_arsenic-female-bladder.csv

In [222]:
df = pd.read_csv('class_imbalance/dataset_949_arsenic-female-bladder.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 559 entries, 0 to 558
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   group        559 non-null    int64
 1   conc         559 non-null    float64
 2   age          559 non-null    float64
 3   at.risk      559 non-null    float64
 4   binaryClass  559 non-null    object
dtypes: float64(3), int64(1), object(1)
memory usage: 22.0+ KB

In [223]:
df['binaryClass'] = df['binaryClass'].map({'N': 0, 'P': 1})

df.info()
df.to_csv(os.path.join(output_folder, 'dataset_949_arsenic-female-bladder.csv'), index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 559 entries, 0 to 558
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   group        559 non-null    int64
 1   conc         559 non-null    float64
 2   age          559 non-null    float64
 3   at.risk      559 non-null    float64
 4   binaryClass  559 non-null    int64
dtypes: float64(3), int64(2)
memory usage: 22.0 KB

### 17. dataset_950_arsenic-female-lung.csv

In [224]:
df = pd.read_csv('class_imbalance/dataset_950_arsenic-female-lung.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 559 entries, 0 to 558
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   group        559 non-null    int64
 1   conc         559 non-null    float64
 2   age          559 non-null    float64
 3   at.risk      559 non-null    float64
 4   binaryClass  559 non-null    object
dtypes: float64(3), int64(1), object(1)
memory usage: 22.0+ KB

In [225]:
df['binaryClass'] = df['binaryClass'].map({'N': 0, 'P': 1})

df.info()
df.to_csv(os.path.join(output_folder, 'dataset_950_arsenic-female-lung.csv'), index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 559 entries, 0 to 558
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   group        559 non-null    int64
 1   conc         559 non-null    float64
 2   age          559 non-null    float64
 3   at.risk      559 non-null    float64
 4   binaryClass  559 non-null    int64
dtypes: float64(3), int64(2)
memory usage: 22.0 KB

### 18. dataset_951_arsenic-male-lung.csv

In [226]:
df = pd.read_csv('class_imbalance/dataset_951_arsenic-male-lung.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 559 entries, 0 to 558
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   group        559 non-null    int64
 1   conc         559 non-null    float64
 2   age          559 non-null    float64
 3   at.risk      559 non-null    float64
 4   binaryClass  559 non-null    object
dtypes: float64(3), int64(1), object(1)
memory usage: 22.0+ KB

In [227]:
df['binaryClass'] = df['binaryClass'].map({'N': 0, 'P': 1})

df.info()
df.to_csv(os.path.join(output_folder, 'dataset_951_arsenic-male-lung.csv'), index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 559 entries, 0 to 558
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   group        559 non-null    int64
 1   conc         559 non-null    float64
 2   age          559 non-null    float64
 3   at.risk      559 non-null    float64
 4   binaryClass  559 non-null    int64
dtypes: float64(3), int64(2)
memory usage: 22.0 KB

### 19. dataset_954_spectrometer.csv

In [228]:
df = pd.read_csv('class_imbalance/dataset_954_spectrometer.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 531 entries, 0 to 530
Columns: 102 entries, ID-type to binaryClass
dtypes: float64(99), int64(2), object(1)
memory usage: 423.3+ KB

In [229]:
df['binaryClass'] = df['binaryClass'].map({'N': 0, 'P': 1})

df.info()
df.to_csv(os.path.join(output_folder, 'dataset_954_spectrometer.csv'), index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 531 entries, 0 to 530
Columns: 102 entries, ID-type to binaryClass
dtypes: float64(99), int64(3)
memory usage: 423.3 KB

### 20. dataset_958_segment.csv

In [230]:
df = pd.read_csv('class_imbalance/dataset_958_segment.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2310 entries, 0 to 2309
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   region-centroid-col   2310 non-null   int64
 1   region-centroid-row   2310 non-null   int64
 2   region-pixel-count    2310 non-null   int64
 3   short-line-density-5  2310 non-null   float64
 4   short-line-density-2  2310 non-null   float64
 5   vedge-mean            2310 non-null   float64
 6   vegde-sd              2310 non-null   float64
 7   hedge-mean            2310 non-null   float64
 8   hedge-sd              2310 non-null   float64
 9   intensity-mean        2310 non-null   float64
 10  rawred-mean           2310 non-null   float64
 11  rawblue-mean          2310 non-null   float64
 12  rawgreen-mean         2310 non-null   float64
 13  exred-mean            2310 non-null   float64
 14  exblue-mean           2310 non-null   float64
 15  exgreen-mean          2310 non-null   float64
 16  value-mean            2310 non-null   float64
 17  saturation-mean       2310 non-null   float64
 18  hue-mean              2310 non-null   float64
 19  binaryClass           2310 non-null   object
dtypes: float64(16), int64(3), object(1)
memory usage: 361.1+ KB

In [231]:
df['binaryClass'] = df['binaryClass'].map({'N': 0, 'P': 1})

df.info()
df.to_csv(os.path.join(output_folder, 'dataset_958_segment.csv'), index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2310 entries, 0 to 2309
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   region-centroid-col   2310 non-null   int64
 1   region-centroid-row   2310 non-null   int64
 2   region-pixel-count    2310 non-null   int64
 3   short-line-density-5  2310 non-null   float64
 4   short-line-density-2  2310 non-null   float64
 5   vedge-mean            2310 non-null   float64
 6   vegde-sd              2310 non-null   float64
 7   hedge-mean            2310 non-null   float64
 8   hedge-sd              2310 non-null   float64
 9   intensity-mean        2310 non-null   float64
 10  rawred-mean           2310 non-null   float64
 11  rawblue-mean          2310 non-null   float64
 12  rawgreen-mean         2310 non-null   float64
 13  exred-mean            2310 non-null   float64
 14  exblue-mean           2310 non-null   float64
 15  exgreen-mean          2310 non-null   float64
 16  value-mean            2310 non-null   float64
 17  saturation-mean       2310 non-null   float64
 18  hue-mean              2310 non-null   float64
 19  binaryClass           2310 non-null   int64
dtypes: float64(16), int64(4)
memory usage: 361.1 KB

### 21. dataset_962_mfeat-morphological.csv

In [232]:
df = pd.read_csv('class_imbalance/dataset_962_mfeat-morphological.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   att1         2000 non-null   int64
 1   att2         2000 non-null   int64
 2   att3         2000 non-null   int64
 3   att4         2000 non-null   float64
 4   att5         2000 non-null   float64
 5   att6         2000 non-null   float64
 6   binaryClass  2000 non-null   object
dtypes: float64(3), int64(3), object(1)
memory usage: 109.5+ KB

In [233]:
df['binaryClass'] = df['binaryClass'].map({'N': 0, 'P': 1})

df.info()
df.to_csv(os.path.join(output_folder, 'dataset_962_mfeat-morphological.csv'), index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   att1         2000 non-null   int64
 1   att2         2000 non-null   int64
 2   att3         2000 non-null   int64
 3   att4         2000 non-null   float64
 4   att5         2000 non-null   float64
 5   att6         2000 non-null   float64
 6   binaryClass  2000 non-null   int64
dtypes: float64(3), int64(4)
memory usage: 109.5 KB

### 22. dataset_966_analcatdata_halloffame.csv

In [234]:
df = pd.read_csv('class_imbalance/dataset_966_analcatdata_halloffame.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1340 entries, 0 to 1339
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Number_seasons   1340 non-null   int64
 1   Games_played     1340 non-null   float64
 2   At_bats          1340 non-null   float64
 3   Runs             1340 non-null   float64
 4   Hits             1340 non-null   float64
 5   Doubles          1340 non-null   float64
 6   Triples          1340 non-null   float64
 7   Home_runs        1340 non-null   float64
 8   RBIs             1340 non-null   float64
 9   Walks            1340 non-null   float64
 10  Strikeouts       1320 non-null   float64
 11  Batting_average  1340 non-null   float64
 12  On_base_pct      1340 non-null   float64
 13  Slugging_pct     1340 non-null   float64
 14  Fielding_ave     1340 non-null   float64
 15  Position         1340 non-null   object
 16  binaryClass      1340 non-null   object
dtypes: float64(14), int64(1), object(2)
memory usage: 178.1+ KB

In [235]:
df = pd.get_dummies(df, columns=['Position'])
df['binaryClass'] = df['binaryClass'].map({'N': 0, 'P': 1})

target = df['binaryClass']
df.drop(columns=['binaryClass'], inplace=True)
df['binaryClass'] = target

df.info()
df.to_csv(os.path.join(output_folder, 'dataset_966_analcatdata_halloffame.csv'), index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1340 entries, 0 to 1339
Data columns (total 23 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Number_seasons              1340 non-null   int64
 1   Games_played                1340 non-null   float64
 2   At_bats                     1340 non-null   float64
 3   Runs                        1340 non-null   float64
 4   Hits                        1340 non-null   float64
 5   Doubles                     1340 non-null   float64
 6   Triples                     1340 non-null   float64
 7   Home_runs                   1340 non-null   float64
 8   RBIs                        1340 non-null   float64
 9   Walks                       1340 non-null   float64
 10  Strikeouts                  1320 non-null   float64
 11  Batting_average             1340 non-null   float64
 12  On_base_pct                 1340 non-null   float64
 13  Slugging_pct                1340 non-null   float64
 14  Fielding_ave                1340 non-null   float64
 15  Position_Catcher            1340 non-null   bool
 16  Position_Designated_hitter  1340 non-null   bool
 17  Position_First_base         1340 non-null   bool
 18  Position_Outfield           1340 non-null   bool
 19  Position_Second_base        1340 non-null   bool
 20  Position_Shortstop          1340 non-null   bool
 21  Position_Third_base         1340 non-null   bool
 22  binaryClass                 1340 non-null   int64
dtypes: bool(7), float64(14), int64(2)
memory usage: 176.8 KB

### 23. dataset_971_mfeat-fourier.csv

In [236]:
df = pd.read_csv('class_imbalance/dataset_971_mfeat-fourier.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 77 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   att1         2000 non-null   float64
 1   att2         2000 non-null   float64
 2   att3         2000 non-null   float64
 3   att4         2000 non-null   float64
 4   att5         2000 non-null   float64
 5   att6         2000 non-null   float64
 6   att7         2000 non-null   float64
 7   att8         2000 non-null   float64
 8   att9         2000 non-null   float64
 9   att10        2000 non-null   float64
 10  att11        2000 non-null   float64
 11  att12        2000 non-null   float64
 12  att13        2000 non-null   float64
 13  att14        2000 non-null   float64
 14  att15        2000 non-null   float64
 15  att16        2000 non-null   float64
 16  att17        2000 non-null   float64
 17  att18        2000 non-null   float64
 18  att19        2000 non-null   float64
 19  att20        2000 non-null   float64
 20  att21        2000 non-null   float64
 21  att22        2000 non-null   float64
 22  att23        2000 non-null   float64
 23  att24        2000 non-null   float64
 24  att25        2000 non-null   float64
 25  att26        2000 non-null   float64
 26  att27        2000 non-null   float64
 27  att28        2000 non-null   float64
 28  att29        2000 non-null   float64
 29  att30        2000 non-null   float64
 30  att31        2000 non-null   float64
 31  att32        2000 non-null   float64
 32  att33        2000 non-null   float64
 33  att34        2000 non-null   float64
 34  att35        2000 non-null   float64
 35  att36        2000 non-null   float64
 36  att37        2000 non-null   float64
 37  att38        2000 non-null   float64
 38  att39        2000 non-null   float64
 39  att40        2000 non-null   float64
 40  att41        2000 non-null   float64
 41  att42        2000 non-null   float64
 42  att43        2000 non-null   float64
 43  att44        2000 non-null   float64
 44  att45        2000 non-null   float64
 45  att46        2000 non-null   float64
 46  att47        2000 non-null   float64
 47  att48        2000 non-null   float64
 48  att49        2000 non-null   float64
 49  att50        2000 non-null   float64
 50  att51        2000 non-null   float64
 51  att52        2000 non-null   float64
 52  att53        2000 non-null   float64
 53  att54        2000 non-null   float64
 54  att55        2000 non-null   float64
 55  att56        2000 non-null   float64
 56  att57        2000 non-null   float64
 57  att58        2000 non-null   float64
 58  att59        2000 non-null   float64
 59  att60        2000 non-null   float64
 60  att61        2000 non-null   float64
 61  att62        2000 non-null   float64
 62  att63        2000 non-null   float64
 63  att64        2000 non-null   float64
 64  att65        2000 non-null   float64
 65  att66        2000 non-null   float64
 66  att67        2000 non-null   float64
 67  att68        2000 non-null   float64
 68  att69        2000 non-null   float64
 69  att70        2000 non-null   float64
 70  att71        2000 non-null   float64
 71  att72        2000 non-null   float64
 72  att73        2000 non-null   float64
 73  att74        2000 non-null   float64
 74  att75        2000 non-null   float64
 75  att76        2000 non-null   float64
 76  binaryClass  2000 non-null   object
dtypes: float64(76), object(1)
memory usage: 1.2+ MB

In [237]:
df['binaryClass'] = df['binaryClass'].map({'N': 0, 'P': 1})

df.info()
df.to_csv(os.path.join(output_folder, 'dataset_971_mfeat-fourier.csv'), index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 77 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   att1         2000 non-null   float64
 1   att2         2000 non-null   float64
 2   att3         2000 non-null   float64
 3   att4         2000 non-null   float64
 4   att5         2000 non-null   float64
 5   att6         2000 non-null   float64
 6   att7         2000 non-null   float64
 7   att8         2000 non-null   float64
 8   att9         2000 non-null   float64
 9   att10        2000 non-null   float64
 10  att11        2000 non-null   float64
 11  att12        2000 non-null   float64
 12  att13        2000 non-null   float64
 13  att14        2000 non-null   float64
 14  att15        2000 non-null   float64
 15  att16        2000 non-null   float64
 16  att17        2000 non-null   float64
 17  att18        2000 non-null   float64
 18  att19        2000 non-null   float64
 19  att20        2000 non-null   float64
 20  att21        2000 non-null   float64
 21  att22        2000 non-null   float64
 22  att23        2000 non-null   float64
 23  att24        2000 non-null   float64
 24  att25        2000 non-null   float64
 25  att26        2000 non-null   float64
 26  att27        2000 non-null   float64
 27  att28        2000 non-null   float64
 28  att29        2000 non-null   float64
 29  att30        2000 non-null   float64
 30  att31        2000 non-null   float64
 31  att32        2000 non-null   float64
 32  att33        2000 non-null   float64
 33  att34        2000 non-null   float64
 34  att35        2000 non-null   float64
 35  att36        2000 non-null   float64
 36  att37        2000 non-null   float64
 37  att38        2000 non-null   float64
 38  att39        2000 non-null   float64
 39  att40        2000 non-null   float64
 40  att41        2000 non-null   float64
 41  att42        2000 non-null   float64
 42  att43        2000 non-null   float64
 43  att44        2000 non-null   float64
 44  att45        2000 non-null   float64
 45  att46        2000 non-null   float64
 46  att47        2000 non-null   float64
 47  att48        2000 non-null   float64
 48  att49        2000 non-null   float64
 49  att50        2000 non-null   float64
 50  att51        2000 non-null   float64
 51  att52        2000 non-null   float64
 52  att53        2000 non-null   float64
 53  att54        2000 non-null   float64
 54  att55        2000 non-null   float64
 55  att56        2000 non-null   float64
 56  att57        2000 non-null   float64
 57  att58        2000 non-null   float64
 58  att59        2000 non-null   float64
 59  att60        2000 non-null   float64
 60  att61        2000 non-null   float64
 61  att62        2000 non-null   float64
 62  att63        2000 non-null   float64
 63  att64        2000 non-null   float64
 64  att65        2000 non-null   float64
 65  att66        2000 non-null   float64
 66  att67        2000 non-null   float64
 67  att68        2000 non-null   float64
 68  att69        2000 non-null   float64
 69  att70        2000 non-null   float64
 70  att71        2000 non-null   float64
 71  att72        2000 non-null   float64
 72  att73        2000 non-null   float64
 73  att74        2000 non-null   float64
 74  att75        2000 non-null   float64
 75  att76        2000 non-null   float64
 76  binaryClass  2000 non-null   int64
dtypes: float64(76), int64(1)
memory usage: 1.2 MB

### 24. dataset_976_JapaneseVowels.csv

In [238]:
df = pd.read_csv('class_imbalance/dataset_976_JapaneseVowels.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9961 entries, 0 to 9960
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   utterance      9961 non-null   int64
 1   frame          9961 non-null   int64
 2   coefficient1   9961 non-null   float64
 3   coefficient2   9961 non-null   float64
 4   coefficient3   9961 non-null   float64
 5   coefficient4   9961 non-null   float64
 6   coefficient5   9961 non-null   float64
 7   coefficient6   9961 non-null   float64
 8   coefficient7   9961 non-null   float64
 9   coefficient8   9961 non-null   float64
 10  coefficient9   9961 non-null   float64
 11  coefficient10  9961 non-null   float64
 12  coefficient11  9961 non-null   float64
 13  coefficient12  9961 non-null   float64
 14  binaryClass    9961 non-null   object
dtypes: float64(12), int64(2), object(1)
memory usage: 1.1+ MB

In [239]:
df['binaryClass'] = df['binaryClass'].map({'N': 0, 'P': 1})

df.info()
df.to_csv(os.path.join(output_folder, 'dataset_976_JapaneseVowels.csv'), index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9961 entries, 0 to 9960
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   utterance      9961 non-null   int64
 1   frame          9961 non-null   int64
 2   coefficient1   9961 non-null   float64
 3   coefficient2   9961 non-null   float64
 4   coefficient3   9961 non-null   float64
 5   coefficient4   9961 non-null   float64
 6   coefficient5   9961 non-null   float64
 7   coefficient6   9961 non-null   float64
 8   coefficient7   9961 non-null   float64
 9   coefficient8   9961 non-null   float64
 10  coefficient9   9961 non-null   float64
 11  coefficient10  9961 non-null   float64
 12  coefficient11  9961 non-null   float64
 13  coefficient12  9961 non-null   float64
 14  binaryClass    9961 non-null   int64
dtypes: float64(12), int64(3)
memory usage: 1.1 MB

### 25. dataset_978_mfeat-factors.csv

In [240]:
df = pd.read_csv('class_imbalance/dataset_978_mfeat-factors.csv')
df.info()
print(df.isna().sum().to_string())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Columns: 217 entries, att1 to binaryClass
dtypes: float64(108), int64(108), object(1)
memory usage: 3.3+ MB
att1           0
att2           0
att3           0
att4           0
att5           0
att6           0
att7           0
att8           0
att9           0
att10          0
att11          0
att12          0
att13          0
att14          0
att15          0
att16          0
att17          0
att18          0
att19          0
att20          0
att21          0
att22          0
att23          0
att24          0
att25          0
att26          0
att27          0
att28          0
att29          0
att30          0
att31          0
att32          0
att33          0
att34          0
att35          0
att36          0
att37          0
att38          0
att39          0
att40          0
att41          0
att42          0
att43          0
att44          0
att45          0
att46          0
att47          0
att48          0
att49          0
att50          0
att51          0
att52          0
att53          0
att54          0
att55          0
att56          0
att57          0
att58          0
att59          0
att60          0
att61          0
att62          0
att63          0
att64          0
att65          0
att66          0
att67          0
att68          0
att69          0
att70          0
att71          0
att72          0
att73          0
att74          0
att75          0
att76          0
att77          0
att78          0
att79          0
att80          0
att81          0
att82          0
att83          0
att84          0
att85          0
att86          0
att87          0
att88          0
att89          0
att90          0
att91          0
att92          0
att93          0
att94          0
att95          0
att96          0
att97          0
att98          0
att99          0
att100         0
att101         0
att102         0
att103         0
att104         0
att105         0
att106         0
att107         0
att108         0
att109         0
att110         0
att111         0
att112         0
att113         0
att114         0
att115         0
att116         0
att117         0
att118         0
att119         0
att120         0
att121         0
att122         0
att123         0
att124         0
att125         0
att126         0
att127         0
att128         0
att129         0
att130         0
att131         0
att132         0
att133         0
att134         0
att135         0
att136         0
att137         0
att138         0
att139         0
att140         0
att141         0
att142         0
att143         0
att144         0
att145         0
att146         0
att147         0
att148         0
att149         0
att150         0
att151         0
att152         0
att153         0
att154         0
att155         0
att156         0
att157         0
att158         0
att159         0
att160         0
att161         0
att162         0
att163         0
att164         0
att165         0
att166         0
att167         0
att168         0
att169         0
att170         0
att171         0
att172         0
att173         0
att174         0
att175         0
att176         0
att177         0
att178         0
att179         0
att180         0
att181         0
att182         0
att183         0
att184         0
att185         0
att186         0
att187         0
att188         0
att189         0
att190         0
att191         0
att192         0
att193         0
att194         0
att195         0
att196         0
att197         0
att198         0
att199         0
att200         0
att201         0
att202         0
att203         0
att204         0
att205         0
att206         0
att207         0
att208         0
att209         0
att210         0
att211         0
att212         0
att213         0
att214         0
att215         0
att216         0
binaryClass    0

In [241]:
df['binaryClass'] = df['binaryClass'].map({'N': 0, 'P': 1})

df.info()
df.to_csv(os.path.join(output_folder, 'dataset_978_mfeat-factors.csv'), index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Columns: 217 entries, att1 to binaryClass
dtypes: float64(108), int64(109)
memory usage: 3.3 MB

### 26. dataset_980_optdigits.csv

In [242]:
df = pd.read_csv('class_imbalance/dataset_980_optdigits.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5620 entries, 0 to 5619
Data columns (total 65 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   input1       5620 non-null   int64
 1   input2       5620 non-null   int64
 2   input3       5620 non-null   int64
 3   input4       5620 non-null   int64
 4   input5       5620 non-null   int64
 5   input6       5620 non-null   int64
 6   input7       5620 non-null   int64
 7   input8       5620 non-null   int64
 8   input9       5620 non-null   int64
 9   input10      5620 non-null   int64
 10  input11      5620 non-null   int64
 11  input12      5620 non-null   int64
 12  input13      5620 non-null   int64
 13  input14      5620 non-null   int64
 14  input15      5620 non-null   int64
 15  input16      5620 non-null   int64
 16  input17      5620 non-null   int64
 17  input18      5620 non-null   int64
 18  input19      5620 non-null   int64
 19  input20      5620 non-null   int64
 20  input21      5620 non-null   int64
 21  input22      5620 non-null   int64
 22  input23      5620 non-null   int64
 23  input24      5620 non-null   int64
 24  input25      5620 non-null   int64
 25  input26      5620 non-null   int64
 26  input27      5620 non-null   int64
 27  input28      5620 non-null   int64
 28  input29      5620 non-null   int64
 29  input30      5620 non-null   int64
 30  input31      5620 non-null   int64
 31  input32      5620 non-null   int64
 32  input33      5620 non-null   int64
 33  input34      5620 non-null   int64
 34  input35      5620 non-null   int64
 35  input36      5620 non-null   int64
 36  input37      5620 non-null   int64
 37  input38      5620 non-null   int64
 38  input39      5620 non-null   int64
 39  input40      5620 non-null   int64
 40  input41      5620 non-null   int64
 41  input42      5620 non-null   int64
 42  input43      5620 non-null   int64
 43  input44      5620 non-null   int64
 44  input45      5620 non-null   int64
 45  input46      5620 non-null   int64
 46  input47      5620 non-null   int64
 47  input48      5620 non-null   int64
 48  input49      5620 non-null   int64
 49  input50      5620 non-null   int64
 50  input51      5620 non-null   int64
 51  input52      5620 non-null   int64
 52  input53      5620 non-null   int64
 53  input54      5620 non-null   int64
 54  input55      5620 non-null   int64
 55  input56      5620 non-null   int64
 56  input57      5620 non-null   int64
 57  input58      5620 non-null   int64
 58  input59      5620 non-null   int64
 59  input60      5620 non-null   int64
 60  input61      5620 non-null   int64
 61  input62      5620 non-null   int64
 62  input63      5620 non-null   int64
 63  input64      5620 non-null   int64
 64  binaryClass  5620 non-null   object
dtypes: int64(64), object(1)
memory usage: 2.8+ MB

In [243]:
df['binaryClass'] = df['binaryClass'].map({'N': 0, 'P': 1})

df.info()
df.to_csv(os.path.join(output_folder, 'dataset_980_optdigits.csv'), index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5620 entries, 0 to 5619
Data columns (total 65 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   input1       5620 non-null   int64
 1   input2       5620 non-null   int64
 2   input3       5620 non-null   int64
 3   input4       5620 non-null   int64
 4   input5       5620 non-null   int64
 5   input6       5620 non-null   int64
 6   input7       5620 non-null   int64
 7   input8       5620 non-null   int64
 8   input9       5620 non-null   int64
 9   input10      5620 non-null   int64
 10  input11      5620 non-null   int64
 11  input12      5620 non-null   int64
 12  input13      5620 non-null   int64
 13  input14      5620 non-null   int64
 14  input15      5620 non-null   int64
 15  input16      5620 non-null   int64
 16  input17      5620 non-null   int64
 17  input18      5620 non-null   int64
 18  input19      5620 non-null   int64
 19  input20      5620 non-null   int64
 20  input21      5620 non-null   int64
 21  input22      5620 non-null   int64
 22  input23      5620 non-null   int64
 23  input24      5620 non-null   int64
 24  input25      5620 non-null   int64
 25  input26      5620 non-null   int64
 26  input27      5620 non-null   int64
 27  input28      5620 non-null   int64
 28  input29      5620 non-null   int64
 29  input30      5620 non-null   int64
 30  input31      5620 non-null   int64
 31  input32      5620 non-null   int64
 32  input33      5620 non-null   int64
 33  input34      5620 non-null   int64
 34  input35      5620 non-null   int64
 35  input36      5620 non-null   int64
 36  input37      5620 non-null   int64
 37  input38      5620 non-null   int64
 38  input39      5620 non-null   int64
 39  input40      5620 non-null   int64
 40  input41      5620 non-null   int64
 41  input42      5620 non-null   int64
 42  input43      5620 non-null   int64
 43  input44      5620 non-null   int64
 44  input45      5620 non-null   int64
 45  input46      5620 non-null   int64
 46  input47      5620 non-null   int64
 47  input48      5620 non-null   int64
 48  input49      5620 non-null   int64
 49  input50      5620 non-null   int64
 50  input51      5620 non-null   int64
 51  input52      5620 non-null   int64
 52  input53      5620 non-null   int64
 53  input54      5620 non-null   int64
 54  input55      5620 non-null   int64
 55  input56      5620 non-null   int64
 56  input57      5620 non-null   int64
 57  input58      5620 non-null   int64
 58  input59      5620 non-null   int64
 59  input60      5620 non-null   int64
 60  input61      5620 non-null   int64
 61  input62      5620 non-null   int64
 62  input63      5620 non-null   int64
 63  input64      5620 non-null   int64
 64  binaryClass  5620 non-null   int64
dtypes: int64(65)
memory usage: 2.8 MB

### 27. dataset_984_analcatdata_draft.csv

In [244]:
df = pd.read_csv('class_imbalance/dataset_984_analcatdata_draft.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 366 entries, 0 to 365
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Lottery.pick.1970         366 non-null    float64
 1   Lottery.pick.1971         365 non-null    float64
 2   Month                     366 non-null    int64
 3   Month.ordered.picks.1970  366 non-null    int64
 4   binaryClass               366 non-null    object
dtypes: float64(2), int64(2), object(1)
memory usage: 14.4+ KB

In [245]:
df['binaryClass'] = df['binaryClass'].map({'N': 0, 'P': 1})

df.info()
df.to_csv(os.path.join(output_folder, 'dataset_984_analcatdata_draft.csv'), index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 366 entries, 0 to 365
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Lottery.pick.1970         366 non-null    float64
 1   Lottery.pick.1971         365 non-null    float64
 2   Month                     366 non-null    int64
 3   Month.ordered.picks.1970  366 non-null    int64
 4   binaryClass               366 non-null    int64
dtypes: float64(2), int64(3)
memory usage: 14.4 KB

### 28. dataset_987_collins.csv

In [246]:
df = pd.read_csv('class_imbalance/dataset_987_collins.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 23 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   FirstPerson      500 non-null    float64
 1   InnerThinking    500 non-null    float64
 2   ThinkPositive    500 non-null    float64
 3   ThinkNegative    500 non-null    float64
 4   ThinkAhead       500 non-null    float64
 5   ThinkBack        500 non-null    float64
 6   Reasoning        500 non-null    float64
 7   Share_SocTies    500 non-null    float64
 8   Direct_Activity  500 non-null    float64
 9   Interacting      500 non-null    float64
 10  Notifying        500 non-null    float64
 11  LinearGuidance   500 non-null    float64
 12  WordPicture      500 non-null    float64
 13  SpaceInterval    500 non-null    float64
 14  Motion           500 non-null    float64
 15  PastEvents       500 non-null    float64
 16  TimeInterval     500 non-null    float64
 17  ShiftingEvents   500 non-null    float64
 18  Text_Coverage    500 non-null    float64
 19  Genre            500 non-null    int64
 20  Counter          500 non-null    float64
 21  Corpus           500 non-null    int64
 22  binaryClass      500 non-null    object
dtypes: float64(20), int64(2), object(1)
memory usage: 90.0+ KB

In [247]:
df['binaryClass'] = df['binaryClass'].map({'N': 0, 'P': 1})

df.info()
df.to_csv(os.path.join(output_folder, 'dataset_987_collins.csv'), index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 23 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   FirstPerson      500 non-null    float64
 1   InnerThinking    500 non-null    float64
 2   ThinkPositive    500 non-null    float64
 3   ThinkNegative    500 non-null    float64
 4   ThinkAhead       500 non-null    float64
 5   ThinkBack        500 non-null    float64
 6   Reasoning        500 non-null    float64
 7   Share_SocTies    500 non-null    float64
 8   Direct_Activity  500 non-null    float64
 9   Interacting      500 non-null    float64
 10  Notifying        500 non-null    float64
 11  LinearGuidance   500 non-null    float64
 12  WordPicture      500 non-null    float64
 13  SpaceInterval    500 non-null    float64
 14  Motion           500 non-null    float64
 15  PastEvents       500 non-null    float64
 16  TimeInterval     500 non-null    float64
 17  ShiftingEvents   500 non-null    float64
 18  Text_Coverage    500 non-null    float64
 19  Genre            500 non-null    int64
 20  Counter          500 non-null    float64
 21  Corpus           500 non-null    int64
 22  binaryClass      500 non-null    int64
dtypes: float64(20), int64(3)
memory usage: 90.0 KB

### 29. dataset_995_mfeat-zernike.csv

In [248]:
df = pd.read_csv('class_imbalance/dataset_995_mfeat-zernike.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 48 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   att1         2000 non-null   float64
 1   att2         2000 non-null   float64
 2   att3         2000 non-null   float64
 3   att4         2000 non-null   float64
 4   att5         2000 non-null   float64
 5   att6         2000 non-null   float64
 6   att7         2000 non-null   float64
 7   att8         2000 non-null   float64
 8   att9         2000 non-null   float64
 9   att10        2000 non-null   float64
 10  att11        2000 non-null   float64
 11  att12        2000 non-null   float64
 12  att13        2000 non-null   float64
 13  att14        2000 non-null   float64
 14  att15        2000 non-null   float64
 15  att16        2000 non-null   float64
 16  att17        2000 non-null   float64
 17  att18        2000 non-null   float64
 18  att19        2000 non-null   float64
 19  att20        2000 non-null   float64
 20  att21        2000 non-null   float64
 21  att22        2000 non-null   float64
 22  att23        2000 non-null   float64
 23  att24        2000 non-null   float64
 24  att25        2000 non-null   float64
 25  att26        2000 non-null   float64
 26  att27        2000 non-null   float64
 27  att28        2000 non-null   float64
 28  att29        2000 non-null   float64
 29  att30        2000 non-null   float64
 30  att31        2000 non-null   float64
 31  att32        2000 non-null   float64
 32  att33        2000 non-null   float64
 33  att34        2000 non-null   float64
 34  att35        2000 non-null   float64
 35  att36        2000 non-null   float64
 36  att37        2000 non-null   float64
 37  att38        2000 non-null   float64
 38  att39        2000 non-null   float64
 39  att40        2000 non-null   float64
 40  att41        2000 non-null   float64
 41  att42        2000 non-null   float64
 42  att43        2000 non-null   float64
 43  att44        2000 non-null   float64
 44  att45        2000 non-null   float64
 45  att46        2000 non-null   float64
 46  att47        2000 non-null   float64
 47  binaryClass  2000 non-null   object
dtypes: float64(47), object(1)
memory usage: 750.1+ KB

In [249]:
df['binaryClass'] = df['binaryClass'].map({'N': 0, 'P': 1})

df.info()
df.to_csv(os.path.join(output_folder, 'dataset_995_mfeat-zernike.csv'), index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 48 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   att1         2000 non-null   float64
 1   att2         2000 non-null   float64
 2   att3         2000 non-null   float64
 3   att4         2000 non-null   float64
 4   att5         2000 non-null   float64
 5   att6         2000 non-null   float64
 6   att7         2000 non-null   float64
 7   att8         2000 non-null   float64
 8   att9         2000 non-null   float64
 9   att10        2000 non-null   float64
 10  att11        2000 non-null   float64
 11  att12        2000 non-null   float64
 12  att13        2000 non-null   float64
 13  att14        2000 non-null   float64
 14  att15        2000 non-null   float64
 15  att16        2000 non-null   float64
 16  att17        2000 non-null   float64
 17  att18        2000 non-null   float64
 18  att19        2000 non-null   float64
 19  att20        2000 non-null   float64
 20  att21        2000 non-null   float64
 21  att22        2000 non-null   float64
 22  att23        2000 non-null   float64
 23  att24        2000 non-null   float64
 24  att25        2000 non-null   float64
 25  att26        2000 non-null   float64
 26  att27        2000 non-null   float64
 27  att28        2000 non-null   float64
 28  att29        2000 non-null   float64
 29  att30        2000 non-null   float64
 30  att31        2000 non-null   float64
 31  att32        2000 non-null   float64
 32  att33        2000 non-null   float64
 33  att34        2000 non-null   float64
 34  att35        2000 non-null   float64
 35  att36        2000 non-null   float64
 36  att37        2000 non-null   float64
 37  att38        2000 non-null   float64
 38  att39        2000 non-null   float64
 39  att40        2000 non-null   float64
 40  att41        2000 non-null   float64
 41  att42        2000 non-null   float64
 42  att43        2000 non-null   float64
 43  att44        2000 non-null   float64
 44  att45        2000 non-null   float64
 45  att46        2000 non-null   float64
 46  att47        2000 non-null   float64
 47  binaryClass  2000 non-null   int64
dtypes: float64(47), int64(1)
memory usage: 750.1 KB

### 30. dataset_968_analcatdata_birthday.csv

In [250]:
df = pd.read_csv('class_imbalance/dataset_968_analcatdata_birthday.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Month        335 non-null    object
 1   Day          365 non-null    int64
 2   Births       365 non-null    float64
 3   binaryClass  365 non-null    object
dtypes: float64(1), int64(1), object(2)
memory usage: 11.5+ KB

In [251]:
df = pd.get_dummies(df, columns=['Month'])
df['binaryClass'] = df['binaryClass'].map({'N': 0, 'P': 1})

target = df['binaryClass']
df.drop(columns=['binaryClass'], inplace=True)
df['binaryClass'] = target

df.info()
df.to_csv(os.path.join(output_folder, 'dataset_968_analcatdata_birthday.csv'), index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Day            365 non-null    int64
 1   Births         365 non-null    float64
 2   Month_1/1/00   365 non-null    bool
 3   Month_10/1/00  365 non-null    bool
 4   Month_11/1/00  365 non-null    bool
 5   Month_12/1/00  365 non-null    bool
 6   Month_2/1/00   365 non-null    bool
 7   Month_3/1/00   365 non-null    bool
 8   Month_4/1/00   365 non-null    bool
 9   Month_5/1/00   365 non-null    bool
 10  Month_6/1/00   365 non-null    bool
 11  Month_7/1/00   365 non-null    bool
 12  Month_8/1/00   365 non-null    bool
 13  binaryClass    365 non-null    int64
dtypes: bool(11), float64(1), int64(2)
memory usage: 12.6 KB

### 31. dataset_1000_hypothyroid.csv

In [252]:
df = pd.read_csv('class_imbalance/dataset_1000_hypothyroid.csv')

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3772 entries, 0 to 3771
Data columns (total 30 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   age                        3771 non-null   float64
 1   sex                        3622 non-null   object
 2   on thyroxine               3772 non-null   object
 3   query on thyroxine         3772 non-null   object
 4   on antithyroid medication  3772 non-null   object
 5   sick                       3772 non-null   object
 6   pregnant                   3772 non-null   object
 7   thyroid surgery            3772 non-null   object
 8   I131 treatment             3772 non-null   object
 9   query hypothyroid          3772 non-null   object
 10  query hyperthyroid         3772 non-null   object
 11  lithium                    3772 non-null   object
 12  goitre                     3772 non-null   object
 13  tumor                      3772 non-null   object
 14  hypopituitary              3772 non-null   object
 15  psych                      3772 non-null   object
 16  TSH measured               3772 non-null   object
 17  TSH                        3403 non-null   float64
 18  T3 measured                3772 non-null   object
 19  T3                         3003 non-null   float64
 20  TT4 measured               3772 non-null   object
 21  TT4                        3541 non-null   float64
 22  T4U measured               3772 non-null   object
 23  T4U                        3385 non-null   float64
 24  FTI measured               3772 non-null   object
 25  FTI                        3387 non-null   float64
 26  TBG measured               3772 non-null   object
 27  TBG                        0 non-null      float64
 28  referral source            3772 non-null   object
 29  binaryClass                3772 non-null   object
dtypes: float64(7), object(23)
memory usage: 884.2+ KB

In [253]:
df = df.drop(columns=['TBG'])
num_cols = df.select_dtypes(include='float64').columns
df[num_cols] = df[num_cols].fillna(df[num_cols].mean().round(2))

df['sex'].fillna('unknown', inplace=True)
df['sex']=df['sex'].map({'F': 0, 'unknown':1, 'M': 2})
df['on thyroxine']=df['on thyroxine'].map({'f': 0, 't': 1})
df['query on thyroxine']=df['query on thyroxine'].map({'f': 0, 't': 1})
df['on antithyroid medication']=df['on antithyroid medication'].map({'f': 0, 't': 1})
df['sick']=df['sick'].map({'f': 0, 't': 1})
df['pregnant']=df['pregnant'].map({'f': 0, 't': 1})
df['thyroid surgery']=df['thyroid surgery'].map({'f': 0, 't': 1})
df['I131 treatment']=df['I131 treatment'].map({'f': 0, 't': 1})
df['query hypothyroid']=df['query hypothyroid'].map({'f': 0, 't': 1})
df['query hyperthyroid']=df['query hyperthyroid'].map({'f': 0, 't': 1})
df['lithium']=df['lithium'].map({'f': 0, 't': 1})
df['goitre']=df['goitre'].map({'f': 0, 't': 1})
df['tumor']=df['tumor'].map({'f': 0, 't': 1})
df['hypopituitary']=df['hypopituitary'].map({'f': 0, 't': 1})
df['psych']=df['psych'].map({'f': 0, 't': 1})
df['TSH measured']=df['TSH measured'].map({'f': 0, 't': 1})
df['T3 measured']=df['T3 measured'].map({'f': 0, 't': 1})
df['TT4 measured']=df['TT4 measured'].map({'f': 0, 't': 1})
df['T4U measured']=df['T4U measured'].map({'f': 0, 't': 1})
df['FTI measured']=df['FTI measured'].map({'f': 0, 't': 1})
df['TBG measured']=df['TBG measured'].map({'f': 0, 't': 1})

df = pd.get_dummies(df, columns=['referral source'])

df['binaryClass'] = df['binaryClass'].map({'N': 0, 'P': 1})

target = df['binaryClass']
df.drop(columns=['binaryClass'], inplace=True)
df['binaryClass'] = target

df.info()
df.to_csv(os.path.join(output_folder, 'dataset_1000_hypothyroid.csv'), index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3772 entries, 0 to 3771
Data columns (total 33 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   age                        3772 non-null   float64
 1   sex                        3772 non-null   int64
 2   on thyroxine               3772 non-null   int64
 3   query on thyroxine         3772 non-null   int64
 4   on antithyroid medication  3772 non-null   int64
 5   sick                       3772 non-null   int64
 6   pregnant                   3772 non-null   int64
 7   thyroid surgery            3772 non-null   int64
 8   I131 treatment             3772 non-null   int64
 9   query hypothyroid          3772 non-null   int64
 10  query hyperthyroid         3772 non-null   int64
 11  lithium                    3772 non-null   int64
 12  goitre                     3772 non-null   int64
 13  tumor                      3772 non-null   int64
 14  hypopituitary              3772 non-null   int64
 15  psych                      3772 non-null   int64
 16  TSH measured               3772 non-null   int64
 17  TSH                        3772 non-null   float64
 18  T3 measured                3772 non-null   int64
 19  T3                         3772 non-null   float64
 20  TT4 measured               3772 non-null   int64
 21  TT4                        3772 non-null   float64
 22  T4U measured               3772 non-null   int64
 23  T4U                        3772 non-null   float64
 24  FTI measured               3772 non-null   int64
 25  FTI                        3772 non-null   float64
 26  TBG measured               3772 non-null   int64
 27  referral source_STMW       3772 non-null   bool
 28  referral source_SVHC       3772 non-null   bool
 29  referral source_SVHD       3772 non-null   bool
 30  referral source_SVI        3772 non-null   bool
 31  referral source_other      3772 non-null   bool
 32  binaryClass                3772 non-null   int64
dtypes: bool(5), float64(6), int64(22)
memory usage: 843.7 KB

### 32. dataset_1002_ipums_la_98-small.csv

In [254]:
df = pd.read_csv('class_imbalance/dataset_1002_ipums_la_98-small.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7485 entries, 0 to 7484
Data columns (total 56 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   year         7485 non-null   int64
 1   gq           7485 non-null   object
 2   gqtypeg      7485 non-null   object
 3   farm         7485 non-null   object
 4   ownershg     7353 non-null   object
 5   value        7485 non-null   float64
 6   rent         7485 non-null   float64
 7   ftotinc      7485 non-null   float64
 8   nfams        7485 non-null   int64
 9   ncouples     7485 non-null   int64
 10  nmothers     7485 non-null   int64
 11  nfathers     7485 non-null   int64
 12  momloc       7485 non-null   int64
 13  stepmom      7485 non-null   int64
 14  momrule      7485 non-null   int64
 15  poploc       7485 non-null   int64
 16  steppop      7485 non-null   int64
 17  poprule      7485 non-null   int64
 18  sploc        7485 non-null   int64
 19  sprule       7485 non-null   int64
 20  famsize      7485 non-null   int64
 21  nchild       7485 non-null   int64
 22  nchlt5       7485 non-null   int64
 23  famunit      7485 non-null   int64
 24  eldch        7485 non-null   int64
 25  yngch        7485 non-null   int64
 26  nsibs        7485 non-null   int64
 27  relateg      7485 non-null   object
 28  age          7485 non-null   int64
 29  sex          7485 non-null   object
 30  raceg        7485 non-null   object
 31  marst        7485 non-null   object
 32  chborn       3061 non-null   object
 33  school       7485 non-null   object
 34  educrec      7163 non-null   object
 35  schltype     2171 non-null   object
 36  empstatg     5674 non-null   object
 37  labforce     5674 non-null   object
 38  occscore     7485 non-null   int64
 39  sei          7485 non-null   int64
 40  classwkg     4301 non-null   object
 41  wkswork2     3795 non-null   object
 42  hrswork2     3331 non-null   object
 43  workedyr     5674 non-null   object
 44  inctot       7485 non-null   float64
 45  incwage      7485 non-null   float64
 46  incbus       7485 non-null   float64
 47  incfarm      7485 non-null   float64
 48  incss        7485 non-null   float64
 49  incwelfr     7485 non-null   float64
 50  incother     7485 non-null   float64
 51  poverty      7485 non-null   float64
 52  migrat5g     3531 non-null   object
 53  movedin      7485 non-null   int64
 54  vetstat      5665 non-null   object
 55  binaryClass  7485 non-null   object
dtypes: float64(11), int64(24), object(21)
memory usage: 3.2+ MB

In [255]:
print(df.isnull().sum())
df = df.drop(columns=['ownershg', 'chborn', 'educrec', 'schltype', 'empstatg', 'labforce', 'classwkg', 'wkswork2', 'hrswork2', 'workedyr', 'migrat5g', 'vetstat'])

year              0
gq                0
gqtypeg           0
farm              0
ownershg        132
value             0
rent              0
ftotinc           0
nfams             0
ncouples          0
nmothers          0
nfathers          0
momloc            0
stepmom           0
momrule           0
poploc            0
steppop           0
poprule           0
sploc             0
sprule            0
famsize           0
nchild            0
nchlt5            0
famunit           0
eldch             0
yngch             0
nsibs             0
relateg           0
age               0
sex               0
raceg             0
marst             0
chborn         4424
school            0
educrec         322
schltype       5314
empstatg       1811
labforce       1811
occscore          0
sei               0
classwkg       3184
wkswork2       3690
hrswork2       4154
workedyr       1811
inctot            0
incwage           0
incbus            0
incfarm           0
incss             0
incwelfr          0
incother          0
poverty           0
migrat5g       3954
movedin           0
vetstat        1820
binaryClass       0
dtype: int64

In [256]:
#df.info()

df = pd.get_dummies(df, columns=['gq','gqtypeg','farm','relateg','raceg','marst','school'])

df['sex']=df['sex'].map({'Female': 0, 'Male': 1})

df['binaryClass'] = df['binaryClass'].map({'N': 0, 'P': 1})

target = df['binaryClass']
df.drop(columns=['binaryClass'], inplace=True)
df['binaryClass'] = target

df.info()
df.to_csv(os.path.join(output_folder, 'dataset_1002_ipums_la_98-small.csv'), index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7485 entries, 0 to 7484
Data columns (total 78 columns):
 #   Column                                               Non-Null Count  Dtype
---  ------                                               --------------  -----
 0   year                                                 7485 non-null   int64
 1   value                                                7485 non-null   float64
 2   rent                                                 7485 non-null   float64
 3   ftotinc                                              7485 non-null   float64
 4   nfams                                                7485 non-null   int64
 5   ncouples                                             7485 non-null   int64
 6   nmothers                                             7485 non-null   int64
 7   nfathers                                             7485 non-null   int64
 8   momloc                                               7485 non-null   int64
 9   stepmom                                              7485 non-null   int64
 10  momrule                                              7485 non-null   int64
 11  poploc                                               7485 non-null   int64
 12  steppop                                              7485 non-null   int64
 13  poprule                                              7485 non-null   int64
 14  sploc                                                7485 non-null   int64
 15  sprule                                               7485 non-null   int64
 16  famsize                                              7485 non-null   int64
 17  nchild                                               7485 non-null   int64
 18  nchlt5                                               7485 non-null   int64
 19  famunit                                              7485 non-null   int64
 20  eldch                                                7485 non-null   int64
 21  yngch                                                7485 non-null   int64
 22  nsibs                                                7485 non-null   int64
 23  age                                                  7485 non-null   int64
 24  sex                                                  7485 non-null   int64
 25  occscore                                             7485 non-null   int64
 26  sei                                                  7485 non-null   int64
 27  inctot                                               7485 non-null   float64
 28  incwage                                              7485 non-null   float64
 29  incbus                                               7485 non-null   float64
 30  incfarm                                              7485 non-null   float64
 31  incss                                                7485 non-null   float64
 32  incwelfr                                             7485 non-null   float64
 33  incother                                             7485 non-null   float64
 34  poverty                                              7485 non-null   float64
 35  movedin                                              7485 non-null   int64
 36  gq_HH_in_1970_definition_but_sampled_as_larger_unit  7485 non-null   bool
 37  gq_Institution                                       7485 non-null   bool
 38  gq_Other_group_quarters                              7485 non-null   bool
 39  gqtypeg_College_dormitory                            7485 non-null   bool
 40  gqtypeg_Correctional_institutions                    7485 non-null   bool
 41  gqtypeg_Mental_institutions                          7485 non-null   bool
 42  gqtypeg_Military                                     7485 non-null   bool
 43  gqtypeg_NA_(household)                               7485 non-null   bool
 44  gqtypeg_Other_institutions                           7485 non-null   bool
 45  gqtypeg_Other_non-instit_GQ_and_unknown              7485 non-null   bool
 46  gqtypeg_Rooming_house                                7485 non-null   bool
 47  farm_Farm                                            7485 non-null   bool
 48  farm_Non-Farm                                        7485 non-null   bool
 49  relateg_Child                                        7485 non-null   bool
 50  relateg_Child-in-law                                 7485 non-null   bool
 51  relateg_Grandchild                                   7485 non-null   bool
 52  relateg_Head_Householder                             7485 non-null   bool
 53  relateg_Institutional_inmates                        7485 non-null   bool
 54  relateg_Other_non-relatives                          7485 non-null   bool
 55  relateg_Other_relatives                              7485 non-null   bool
 56  relateg_Parent                                       7485 non-null   bool
 57  relateg_Parent-in-Law                                7485 non-null   bool
 58  relateg_Partner_friend_visitor                       7485 non-null   bool
 59  relateg_Sibling                                      7485 non-null   bool
 60  relateg_Sibling-in-Law                               7485 non-null   bool
 61  relateg_Spouse                                       7485 non-null   bool
 62  raceg_American_Indian                                7485 non-null   bool
 63  raceg_Black_Negro                                    7485 non-null   bool
 64  raceg_Chinese                                        7485 non-null   bool
 65  raceg_Japanese                                       7485 non-null   bool
 66  raceg_Other_Asian_or_Pacific                         7485 non-null   bool
 67  raceg_Other_race_nec                                 7485 non-null   bool
 68  raceg_White                                          7485 non-null   bool
 69  marst_Divorced                                       7485 non-null   bool
 70  marst_Married_spouse_absent                          7485 non-null   bool
 71  marst_Married_spouse_present                         7485 non-null   bool
 72  marst_Never_married_single                           7485 non-null   bool
 73  marst_Separated                                      7485 non-null   bool
 74  marst_Widowed                                        7485 non-null   bool
 75  school_No_not_in_school                              7485 non-null   bool
 76  school_Yes_in_school                                 7485 non-null   bool
 77  binaryClass                                          7485 non-null   int64
dtypes: bool(41), float64(11), int64(26)
memory usage: 2.4 MB

### 33. dataset_1004_synthetic_control.csv

In [257]:
df = pd.read_csv('class_imbalance/dataset_1004_synthetic_control.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600 entries, 0 to 599
Data columns (total 61 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   col_1        600 non-null    float64
 1   col_2        600 non-null    float64
 2   col_3        600 non-null    float64
 3   col_4        600 non-null    float64
 4   col_5        600 non-null    float64
 5   col_6        600 non-null    float64
 6   col_7        600 non-null    float64
 7   col_8        600 non-null    float64
 8   col_9        600 non-null    float64
 9   col_10       600 non-null    float64
 10  col_11       600 non-null    float64
 11  col_12       600 non-null    float64
 12  col_13       600 non-null    float64
 13  col_14       600 non-null    float64
 14  col_15       600 non-null    float64
 15  col_16       600 non-null    float64
 16  col_17       600 non-null    float64
 17  col_18       600 non-null    float64
 18  col_19       600 non-null    float64
 19  col_20       600 non-null    float64
 20  col_21       600 non-null    float64
 21  col_22       600 non-null    float64
 22  col_23       600 non-null    float64
 23  col_24       600 non-null    float64
 24  col_25       600 non-null    float64
 25  col_26       600 non-null    float64
 26  col_27       600 non-null    float64
 27  col_28       600 non-null    float64
 28  col_29       600 non-null    float64
 29  col_30       600 non-null    float64
 30  col_31       600 non-null    float64
 31  col_32       600 non-null    float64
 32  col_33       600 non-null    float64
 33  col_34       600 non-null    float64
 34  col_35       600 non-null    float64
 35  col_36       600 non-null    float64
 36  col_37       600 non-null    float64
 37  col_38       600 non-null    float64
 38  col_39       600 non-null    float64
 39  col_40       600 non-null    float64
 40  col_41       600 non-null    float64
 41  col_42       600 non-null    float64
 42  col_43       600 non-null    float64
 43  col_44       600 non-null    float64
 44  col_45       600 non-null    float64
 45  col_46       600 non-null    float64
 46  col_47       600 non-null    float64
 47  col_48       600 non-null    float64
 48  col_49       600 non-null    float64
 49  col_50       600 non-null    float64
 50  col_51       600 non-null    float64
 51  col_52       600 non-null    float64
 52  col_53       600 non-null    float64
 53  col_54       600 non-null    float64
 54  col_55       600 non-null    float64
 55  col_56       600 non-null    float64
 56  col_57       600 non-null    float64
 57  col_58       600 non-null    float64
 58  col_59       600 non-null    float64
 59  col_60       600 non-null    float64
 60  binaryClass  600 non-null    object
dtypes: float64(60), object(1)
memory usage: 286.1+ KB

In [258]:
df['binaryClass'] = df['binaryClass'].map({'N': 0, 'P': 1})

df.info()
df.to_csv(os.path.join(output_folder, 'dataset_1004_synthetic_control.csv'), index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600 entries, 0 to 599
Data columns (total 61 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   col_1        600 non-null    float64
 1   col_2        600 non-null    float64
 2   col_3        600 non-null    float64
 3   col_4        600 non-null    float64
 4   col_5        600 non-null    float64
 5   col_6        600 non-null    float64
 6   col_7        600 non-null    float64
 7   col_8        600 non-null    float64
 8   col_9        600 non-null    float64
 9   col_10       600 non-null    float64
 10  col_11       600 non-null    float64
 11  col_12       600 non-null    float64
 12  col_13       600 non-null    float64
 13  col_14       600 non-null    float64
 14  col_15       600 non-null    float64
 15  col_16       600 non-null    float64
 16  col_17       600 non-null    float64
 17  col_18       600 non-null    float64
 18  col_19       600 non-null    float64
 19  col_20       600 non-null    float64
 20  col_21       600 non-null    float64
 21  col_22       600 non-null    float64
 22  col_23       600 non-null    float64
 23  col_24       600 non-null    float64
 24  col_25       600 non-null    float64
 25  col_26       600 non-null    float64
 26  col_27       600 non-null    float64
 27  col_28       600 non-null    float64
 28  col_29       600 non-null    float64
 29  col_30       600 non-null    float64
 30  col_31       600 non-null    float64
 31  col_32       600 non-null    float64
 32  col_33       600 non-null    float64
 33  col_34       600 non-null    float64
 34  col_35       600 non-null    float64
 35  col_36       600 non-null    float64
 36  col_37       600 non-null    float64
 37  col_38       600 non-null    float64
 38  col_39       600 non-null    float64
 39  col_40       600 non-null    float64
 40  col_41       600 non-null    float64
 41  col_42       600 non-null    float64
 42  col_43       600 non-null    float64
 43  col_44       600 non-null    float64
 44  col_45       600 non-null    float64
 45  col_46       600 non-null    float64
 46  col_47       600 non-null    float64
 47  col_48       600 non-null    float64
 48  col_49       600 non-null    float64
 49  col_50       600 non-null    float64
 50  col_51       600 non-null    float64
 51  col_52       600 non-null    float64
 52  col_53       600 non-null    float64
 53  col_54       600 non-null    float64
 54  col_55       600 non-null    float64
 55  col_56       600 non-null    float64
 56  col_57       600 non-null    float64
 57  col_58       600 non-null    float64
 58  col_59       600 non-null    float64
 59  col_60       600 non-null    float64
 60  binaryClass  600 non-null    int64
dtypes: float64(60), int64(1)
memory usage: 286.1 KB

### 34. dataset_1013_analcatdata_challenger.csv

In [259]:
df = pd.read_csv('class_imbalance/dataset_1013_analcatdata_challenger.csv')
df.info()

os.rename('class_imbalance/dataset_1013_analcatdata_challenger.csv', 'clean_class_imbalance/dataset_1013_analcatdata_challenger.csv')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 138 entries, 0 to 137
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Temperature  138 non-null    int64
 1   Pressure     138 non-null    int64
 2   Damaged      138 non-null    int64
dtypes: int64(3)
memory usage: 3.4 KB

### 35. dataset_1014_analcatdata_dmft.csv

In [260]:
df= pd.read_csv('class_imbalance/dataset_1014_analcatdata_dmft.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 797 entries, 0 to 796
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   DMFT.Begin   797 non-null    int64
 1   DMFT.End     797 non-null    int64
 2   Gender       797 non-null    object
 3   Ethnic       797 non-null    object
 4   binaryClass  797 non-null    object
dtypes: int64(2), object(3)
memory usage: 31.3+ KB

In [261]:
df['Gender'] = df['Gender'].map({'Female': 0, 'Male': 1})
df['Ethnic'] = df['Ethnic'].map({'White': 0, 'Dark': 1, 'Black': 2})
df['binaryClass'] = df['binaryClass'].map({'N': 0, 'P': 1})

df.info()
df.to_csv(os.path.join(output_folder, 'dataset_1014_analcatdata_dmft.csv'), index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 797 entries, 0 to 796
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   DMFT.Begin   797 non-null    int64
 1   DMFT.End     797 non-null    int64
 2   Gender       797 non-null    int64
 3   Ethnic       797 non-null    int64
 4   binaryClass  797 non-null    int64
dtypes: int64(5)
memory usage: 31.3 KB

### 36. dataset_1016_vowel.csv

In [262]:
df = pd.read_csv('class_imbalance/dataset_1016_vowel.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 990 entries, 0 to 989
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Speaker Number  990 non-null    object
 1   Sex             990 non-null    object
 2   Feature 0       990 non-null    float64
 3   Feature 1       990 non-null    float64
 4   Feature 2       990 non-null    float64
 5   Feature 3       990 non-null    float64
 6   Feature 4       990 non-null    float64
 7   Feature 5       990 non-null    float64
 8   Feature 6       990 non-null    float64
 9   Feature 7       990 non-null    float64
 10  Feature 8       990 non-null    float64
 11  Feature 9       990 non-null    float64
 12  binaryClass     990 non-null    object
dtypes: float64(10), object(3)
memory usage: 100.7+ KB

In [263]:
df['Sex'] = df['Sex'].map({'Female': 0, 'Male': 1})
df = pd.get_dummies(df, columns=['Speaker Number'])
df['binaryClass'] = df['binaryClass'].map({'N': 0, 'P': 1})

target = df['binaryClass']
df.drop(columns=['binaryClass'], inplace=True)
df['binaryClass'] = target

df.info()
df.to_csv(os.path.join(output_folder, 'dataset_1016_vowel.csv'), index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 990 entries, 0 to 989
Data columns (total 27 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Sex                    990 non-null    int64
 1   Feature 0              990 non-null    float64
 2   Feature 1              990 non-null    float64
 3   Feature 2              990 non-null    float64
 4   Feature 3              990 non-null    float64
 5   Feature 4              990 non-null    float64
 6   Feature 5              990 non-null    float64
 7   Feature 6              990 non-null    float64
 8   Feature 7              990 non-null    float64
 9   Feature 8              990 non-null    float64
 10  Feature 9              990 non-null    float64
 11  Speaker Number_Andrew  990 non-null    bool
 12  Speaker Number_Bill    990 non-null    bool
 13  Speaker Number_David   990 non-null    bool
 14  Speaker Number_Jo      990 non-null    bool
 15  Speaker Number_Kate    990 non-null    bool
 16  Speaker Number_Mark    990 non-null    bool
 17  Speaker Number_Mike    990 non-null    bool
 18  Speaker Number_Nick    990 non-null    bool
 19  Speaker Number_Penny   990 non-null    bool
 20  Speaker Number_Rich    990 non-null    bool
 21  Speaker Number_Rose    990 non-null    bool
 22  Speaker Number_Sarah   990 non-null    bool
 23  Speaker Number_Sue     990 non-null    bool
 24  Speaker Number_Tim     990 non-null    bool
 25  Speaker Number_Wendy   990 non-null    bool
 26  binaryClass            990 non-null    int64
dtypes: bool(15), float64(10), int64(2)
memory usage: 107.4 KB

### 37. dataset_1018_ipums_la_99-small.csv

In [264]:
df = pd.read_csv('class_imbalance/dataset_1018_ipums_la_99-small.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8844 entries, 0 to 8843
Data columns (total 57 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   year         8844 non-null   int64
 1   gq           8844 non-null   object
 2   gqtypeg      8844 non-null   object
 3   farm         8844 non-null   object
 4   ownershg     8676 non-null   object
 5   value        8844 non-null   float64
 6   rent         8844 non-null   float64
 7   ftotinc      8844 non-null   float64
 8   nfams        8844 non-null   int64
 9   ncouples     8844 non-null   int64
 10  nmothers     8844 non-null   int64
 11  nfathers     8844 non-null   int64
 12  momloc       8844 non-null   int64
 13  stepmom      8844 non-null   int64
 14  momrule      8844 non-null   int64
 15  poploc       8844 non-null   int64
 16  steppop      8844 non-null   int64
 17  poprule      8844 non-null   int64
 18  sploc        8844 non-null   int64
 19  sprule       8844 non-null   int64
 20  famsize      8844 non-null   int64
 21  nchild       8844 non-null   int64
 22  nchlt5       8844 non-null   int64
 23  famunit      8844 non-null   int64
 24  eldch        8844 non-null   int64
 25  yngch        8844 non-null   int64
 26  nsibs        8844 non-null   int64
 27  relateg      8844 non-null   object
 28  age          8844 non-null   int64
 29  sex          8844 non-null   object
 30  raceg        8844 non-null   object
 31  marst        8844 non-null   object
 32  chborn       3423 non-null   object
 33  school       8416 non-null   object
 34  educrec      8416 non-null   object
 35  schltype     8416 non-null   object
 36  empstatg     6734 non-null   object
 37  labforce     6734 non-null   object
 38  occscore     8844 non-null   int64
 39  sei          8844 non-null   int64
 40  classwkg     5173 non-null   object
 41  wkswork2     4646 non-null   object
 42  hrswork2     4062 non-null   object
 43  yrlastwk     2672 non-null   object
 44  workedyr     6734 non-null   object
 45  inctot       8844 non-null   float64
 46  incwage      8844 non-null   float64
 47  incbus       8844 non-null   float64
 48  incfarm      8844 non-null   int64
 49  incss        8844 non-null   float64
 50  incwelfr     8844 non-null   float64
 51  incother     8844 non-null   float64
 52  poverty      8844 non-null   float64
 53  migrat5g     8137 non-null   object
 54  movedin      8844 non-null   int64
 55  vetstat      6734 non-null   object
 56  binaryClass  8844 non-null   object
dtypes: float64(10), int64(25), object(22)
memory usage: 3.8+ MB

In [265]:
#print(df.isnull().sum())
df = df.drop(columns=['chborn', 'empstatg', 'labforce', 'classwkg', 'wkswork2', 'hrswork2', 'yrlastwk', 'workedyr', 'vetstat'])
print(df.isnull().sum())

year             0
gq               0
gqtypeg          0
farm             0
ownershg       168
value            0
rent             0
ftotinc          0
nfams            0
ncouples         0
nmothers         0
nfathers         0
momloc           0
stepmom          0
momrule          0
poploc           0
steppop          0
poprule          0
sploc            0
sprule           0
famsize          0
nchild           0
nchlt5           0
famunit          0
eldch            0
yngch            0
nsibs            0
relateg          0
age              0
sex              0
raceg            0
marst            0
school         428
educrec        428
schltype       428
occscore         0
sei              0
inctot           0
incwage          0
incbus           0
incfarm          0
incss            0
incwelfr         0
incother         0
poverty          0
migrat5g       707
movedin          0
binaryClass      0
dtype: int64

In [266]:
cat_cols = df.select_dtypes(exclude=['float64','int64']).columns
for col in cat_cols:
    if df[col].isna().any():
        value_counts = df[col].value_counts(dropna=True)
        if not value_counts.empty:
            most_frequent = value_counts.idxmax()  
            df[col].fillna(most_frequent, inplace=True)

print(df['ownershg'].unique())
print(df['school'].unique())
print(df['educrec'].unique())
print(df['schltype'].unique())
print(df['migrat5g'].unique())

['Rented' 'Owned_or_being_bought_(loan)']
['Yes_in_school' 'No_not_in_school']
['Grade_5-8' '4+_years_of_college' 'Grade_1-4' '1_to_3_years_of_college'
 'Grade_12' 'None_or_preschool' 'Grade_9' 'Grade_10' 'Grade_11']
['Public_school' 'Not_enrolled' 'Private_school_(19601990)']
['Same_house' 'Moved_place_not_reported']

In [267]:
df = pd.get_dummies(df, columns=['gq','gqtypeg','farm','relateg','raceg','marst'])
df['sex']=df['sex'].map({'Female': 0, 'Male': 1})
df['binaryClass'] = df['binaryClass'].map({'N': 0, 'P': 1})
df['ownershg'] = df['ownershg'].map({'Rented': 0, 'Owned_or_being_bought_(loan)': 1})
df['school'] = df['school'].map({'No_not_in_school': 0, 'Yes_in_school': 1})
df['educrec'] = df['educrec'].map({'None_or_preschool':0, 'Grade_1-4': 1, 'Grade_5-8': 2, 'Grade_9': 3, 'Grade_10': 4, 'Grade_11': 5, 'Grade_12': 6, '1_to_3_years_of_college': 7, '4+_years_of_college': 8})
df['schltype'] = df['schltype'].map({'Public_school': 1, 'Not_enrolled': 0, 'Private_school_(19601990)': 2})
df['migrat5g'] = df['migrat5g'].map({'Same_house': 0, 'Moved_place_not_reported': 1})

target = df['binaryClass']
df.drop(columns=['binaryClass'], inplace=True)
df['binaryClass'] = target

df.info()
df.to_csv(os.path.join(output_folder, 'dataset_1018_ipums_la_99-small.csv'), index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8844 entries, 0 to 8843
Data columns (total 76 columns):
 #   Column                                               Non-Null Count  Dtype
---  ------                                               --------------  -----
 0   year                                                 8844 non-null   int64
 1   ownershg                                             8844 non-null   int64
 2   value                                                8844 non-null   float64
 3   rent                                                 8844 non-null   float64
 4   ftotinc                                              8844 non-null   float64
 5   nfams                                                8844 non-null   int64
 6   ncouples                                             8844 non-null   int64
 7   nmothers                                             8844 non-null   int64
 8   nfathers                                             8844 non-null   int64
 9   momloc                                               8844 non-null   int64
 10  stepmom                                              8844 non-null   int64
 11  momrule                                              8844 non-null   int64
 12  poploc                                               8844 non-null   int64
 13  steppop                                              8844 non-null   int64
 14  poprule                                              8844 non-null   int64
 15  sploc                                                8844 non-null   int64
 16  sprule                                               8844 non-null   int64
 17  famsize                                              8844 non-null   int64
 18  nchild                                               8844 non-null   int64
 19  nchlt5                                               8844 non-null   int64
 20  famunit                                              8844 non-null   int64
 21  eldch                                                8844 non-null   int64
 22  yngch                                                8844 non-null   int64
 23  nsibs                                                8844 non-null   int64
 24  age                                                  8844 non-null   int64
 25  sex                                                  8844 non-null   int64
 26  school                                               8844 non-null   int64
 27  educrec                                              8844 non-null   int64
 28  schltype                                             8844 non-null   int64
 29  occscore                                             8844 non-null   int64
 30  sei                                                  8844 non-null   int64
 31  inctot                                               8844 non-null   float64
 32  incwage                                              8844 non-null   float64
 33  incbus                                               8844 non-null   float64
 34  incfarm                                              8844 non-null   int64
 35  incss                                                8844 non-null   float64
 36  incwelfr                                             8844 non-null   float64
 37  incother                                             8844 non-null   float64
 38  poverty                                              8844 non-null   float64
 39  migrat5g                                             8844 non-null   int64
 40  movedin                                              8844 non-null   int64
 41  gq_HH_in_1970_definition_but_sampled_as_larger_unit  8844 non-null   bool
 42  gq_Institution                                       8844 non-null   bool
 43  gq_Other_group_quarters                              8844 non-null   bool
 44  gqtypeg_Institution_(1990)                           8844 non-null   bool
 45  gqtypeg_NA_(household)                               8844 non-null   bool
 46  gqtypeg_Non-institutional_GQ_(1940_1950_1990)        8844 non-null   bool
 47  farm_Farm                                            8844 non-null   bool
 48  farm_Non-Farm                                        8844 non-null   bool
 49  relateg_Child                                        8844 non-null   bool
 50  relateg_Child-in-law                                 8844 non-null   bool
 51  relateg_Grandchild                                   8844 non-null   bool
 52  relateg_Head_Householder                             8844 non-null   bool
 53  relateg_Institutional_inmates                        8844 non-null   bool
 54  relateg_Other_non-relatives                          8844 non-null   bool
 55  relateg_Other_relatives                              8844 non-null   bool
 56  relateg_Parent                                       8844 non-null   bool
 57  relateg_Parent-in-Law                                8844 non-null   bool
 58  relateg_Partner_friend_visitor                       8844 non-null   bool
 59  relateg_Sibling                                      8844 non-null   bool
 60  relateg_Sibling-in-Law                               8844 non-null   bool
 61  relateg_Spouse                                       8844 non-null   bool
 62  raceg_American_Indian                                8844 non-null   bool
 63  raceg_Black_Negro                                    8844 non-null   bool
 64  raceg_Chinese                                        8844 non-null   bool
 65  raceg_Japanese                                       8844 non-null   bool
 66  raceg_Other_Asian_or_Pacific                         8844 non-null   bool
 67  raceg_Other_race_nec                                 8844 non-null   bool
 68  raceg_White                                          8844 non-null   bool
 69  marst_Divorced                                       8844 non-null   bool
 70  marst_Married_spouse_absent                          8844 non-null   bool
 71  marst_Married_spouse_present                         8844 non-null   bool
 72  marst_Never_married_single                           8844 non-null   bool
 73  marst_Separated                                      8844 non-null   bool
 74  marst_Widowed                                        8844 non-null   bool
 75  binaryClass                                          8844 non-null   int64
dtypes: bool(34), float64(10), int64(32)
memory usage: 3.1 MB

### 38. dataset_1020_mfeat-karhunen.csv

In [268]:
df = pd.read_csv('class_imbalance/dataset_1020_mfeat-karhunen.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 65 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   att1         2000 non-null   float64
 1   att2         2000 non-null   float64
 2   att3         2000 non-null   float64
 3   att4         2000 non-null   float64
 4   att5         2000 non-null   float64
 5   att6         2000 non-null   float64
 6   att7         2000 non-null   float64
 7   att8         2000 non-null   float64
 8   att9         2000 non-null   float64
 9   att10        2000 non-null   float64
 10  att11        2000 non-null   float64
 11  att12        2000 non-null   float64
 12  att13        2000 non-null   float64
 13  att14        2000 non-null   float64
 14  att15        2000 non-null   float64
 15  att16        2000 non-null   float64
 16  att17        2000 non-null   float64
 17  att18        2000 non-null   float64
 18  att19        2000 non-null   float64
 19  att20        2000 non-null   float64
 20  att21        2000 non-null   float64
 21  att22        2000 non-null   float64
 22  att23        2000 non-null   float64
 23  att24        2000 non-null   float64
 24  att25        2000 non-null   float64
 25  att26        2000 non-null   float64
 26  att27        2000 non-null   float64
 27  att28        2000 non-null   float64
 28  att29        2000 non-null   float64
 29  att30        2000 non-null   float64
 30  att31        2000 non-null   float64
 31  att32        2000 non-null   float64
 32  att33        2000 non-null   float64
 33  att34        2000 non-null   float64
 34  att35        2000 non-null   float64
 35  att36        2000 non-null   float64
 36  att37        2000 non-null   float64
 37  att38        2000 non-null   float64
 38  att39        2000 non-null   float64
 39  att40        2000 non-null   float64
 40  att41        2000 non-null   float64
 41  att42        2000 non-null   float64
 42  att43        2000 non-null   float64
 43  att44        2000 non-null   float64
 44  att45        2000 non-null   float64
 45  att46        2000 non-null   float64
 46  att47        2000 non-null   float64
 47  att48        2000 non-null   float64
 48  att49        2000 non-null   float64
 49  att50        2000 non-null   float64
 50  att51        2000 non-null   float64
 51  att52        2000 non-null   float64
 52  att53        2000 non-null   float64
 53  att54        2000 non-null   float64
 54  att55        2000 non-null   float64
 55  att56        2000 non-null   float64
 56  att57        2000 non-null   float64
 57  att58        2000 non-null   float64
 58  att59        2000 non-null   float64
 59  att60        2000 non-null   float64
 60  att61        2000 non-null   float64
 61  att62        2000 non-null   float64
 62  att63        2000 non-null   float64
 63  att64        2000 non-null   float64
 64  binaryClass  2000 non-null   object
dtypes: float64(64), object(1)
memory usage: 1015.8+ KB

In [269]:
df['binaryClass'] = df['binaryClass'].map({'N': 0, 'P': 1})

df.info()
df.to_csv(os.path.join(output_folder, 'dataset_1020_mfeat-karhunen.csv'), index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 65 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   att1         2000 non-null   float64
 1   att2         2000 non-null   float64
 2   att3         2000 non-null   float64
 3   att4         2000 non-null   float64
 4   att5         2000 non-null   float64
 5   att6         2000 non-null   float64
 6   att7         2000 non-null   float64
 7   att8         2000 non-null   float64
 8   att9         2000 non-null   float64
 9   att10        2000 non-null   float64
 10  att11        2000 non-null   float64
 11  att12        2000 non-null   float64
 12  att13        2000 non-null   float64
 13  att14        2000 non-null   float64
 14  att15        2000 non-null   float64
 15  att16        2000 non-null   float64
 16  att17        2000 non-null   float64
 17  att18        2000 non-null   float64
 18  att19        2000 non-null   float64
 19  att20        2000 non-null   float64
 20  att21        2000 non-null   float64
 21  att22        2000 non-null   float64
 22  att23        2000 non-null   float64
 23  att24        2000 non-null   float64
 24  att25        2000 non-null   float64
 25  att26        2000 non-null   float64
 26  att27        2000 non-null   float64
 27  att28        2000 non-null   float64
 28  att29        2000 non-null   float64
 29  att30        2000 non-null   float64
 30  att31        2000 non-null   float64
 31  att32        2000 non-null   float64
 32  att33        2000 non-null   float64
 33  att34        2000 non-null   float64
 34  att35        2000 non-null   float64
 35  att36        2000 non-null   float64
 36  att37        2000 non-null   float64
 37  att38        2000 non-null   float64
 38  att39        2000 non-null   float64
 39  att40        2000 non-null   float64
 40  att41        2000 non-null   float64
 41  att42        2000 non-null   float64
 42  att43        2000 non-null   float64
 43  att44        2000 non-null   float64
 44  att45        2000 non-null   float64
 45  att46        2000 non-null   float64
 46  att47        2000 non-null   float64
 47  att48        2000 non-null   float64
 48  att49        2000 non-null   float64
 49  att50        2000 non-null   float64
 50  att51        2000 non-null   float64
 51  att52        2000 non-null   float64
 52  att53        2000 non-null   float64
 53  att54        2000 non-null   float64
 54  att55        2000 non-null   float64
 55  att56        2000 non-null   float64
 56  att57        2000 non-null   float64
 57  att58        2000 non-null   float64
 58  att59        2000 non-null   float64
 59  att60        2000 non-null   float64
 60  att61        2000 non-null   float64
 61  att62        2000 non-null   float64
 62  att63        2000 non-null   float64
 63  att64        2000 non-null   float64
 64  binaryClass  2000 non-null   int64
dtypes: float64(64), int64(1)
memory usage: 1015.8 KB

### 39. dataset_1021_page-blocks.csv

In [270]:
df = pd.read_csv('class_imbalance/dataset_1021_page-blocks.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5473 entries, 0 to 5472
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   height       5473 non-null   float64
 1   lenght       5473 non-null   float64
 2   area         5473 non-null   float64
 3   eccen        5473 non-null   float64
 4   p_black      5473 non-null   float64
 5   p_and        5473 non-null   float64
 6   mean_tr      5473 non-null   float64
 7   blackpix     5473 non-null   float64
 8   blackand     5473 non-null   float64
 9   wb_trans     5473 non-null   float64
 10  binaryClass  5473 non-null   object
dtypes: float64(10), object(1)
memory usage: 470.5+ KB

In [271]:
df['binaryClass'] = df['binaryClass'].map({'N': 0, 'P': 1})

df.info()
df.to_csv(os.path.join(output_folder, 'dataset_1021_page-blocks.csv'), index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5473 entries, 0 to 5472
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   height       5473 non-null   float64
 1   lenght       5473 non-null   float64
 2   area         5473 non-null   float64
 3   eccen        5473 non-null   float64
 4   p_black      5473 non-null   float64
 5   p_and        5473 non-null   float64
 6   mean_tr      5473 non-null   float64
 7   blackpix     5473 non-null   float64
 8   blackand     5473 non-null   float64
 9   wb_trans     5473 non-null   float64
 10  binaryClass  5473 non-null   int64
dtypes: float64(10), int64(1)
memory usage: 470.5 KB

### 40. dataset_1022_mfeat-pixel.csv

In [272]:
df = pd.read_csv('class_imbalance/dataset_1022_mfeat-pixel.csv')
df.info()

print(df.isna().sum().to_list())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Columns: 241 entries, att1 to binaryClass
dtypes: int64(240), object(1)
memory usage: 3.7+ MB
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [273]:
df['binaryClass'] = df['binaryClass'].map({'N': 0, 'P': 1})

df.info()
df.to_csv(os.path.join(output_folder, 'dataset_1022_mfeat-pixel.csv'), index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Columns: 241 entries, att1 to binaryClass
dtypes: int64(241)
memory usage: 3.7 MB

### 41. dataset_1023_soybean.csv

In [274]:
df = pd.read_csv('class_imbalance/dataset_1023_soybean.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 683 entries, 0 to 682
Data columns (total 36 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   date             682 non-null    object
 1   plant-stand      647 non-null    object
 2   precip           645 non-null    object
 3   temp             653 non-null    object
 4   hail             562 non-null    object
 5   crop-hist        667 non-null    object
 6   area-damaged     682 non-null    object
 7   severity         562 non-null    object
 8   seed-tmt         562 non-null    object
 9   germination      571 non-null    object
 10  plant-growth     667 non-null    object
 11  leaves           683 non-null    object
 12  leafspots-halo   599 non-null    object
 13  leafspots-marg   599 non-null    object
 14  leafspot-size    599 non-null    object
 15  leaf-shread      583 non-null    object
 16  leaf-malf        599 non-null    object
 17  leaf-mild        575 non-null    object
 18  stem             667 non-null    object
 19  lodging          562 non-null    object
 20  stem-cankers     645 non-null    object
 21  canker-lesion    645 non-null    object
 22  fruiting-bodies  577 non-null    object
 23  external-decay   645 non-null    object
 24  mycelium         645 non-null    object
 25  int-discolor     645 non-null    object
 26  sclerotia        645 non-null    object
 27  fruit-pods       599 non-null    object
 28  fruit-spots      577 non-null    object
 29  seed             591 non-null    object
 30  mold-growth      591 non-null    object
 31  seed-discolor    577 non-null    object
 32  seed-size        591 non-null    object
 33  shriveling       577 non-null    object
 34  roots            652 non-null    object
 35  binaryClass      683 non-null    object
dtypes: object(36)
memory usage: 192.2+ KB

In [275]:
cat_cols = df.select_dtypes(include='object').columns
for col in cat_cols:
    if df[col].isna().any():
        value_counts = df[col].value_counts(dropna=True)
        if not value_counts.empty:
            most_frequent = value_counts.idxmax()  
            df[col].fillna(most_frequent, inplace=True)

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 683 entries, 0 to 682
Data columns (total 36 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   date             683 non-null    object
 1   plant-stand      683 non-null    object
 2   precip           683 non-null    object
 3   temp             683 non-null    object
 4   hail             683 non-null    object
 5   crop-hist        683 non-null    object
 6   area-damaged     683 non-null    object
 7   severity         683 non-null    object
 8   seed-tmt         683 non-null    object
 9   germination      683 non-null    object
 10  plant-growth     683 non-null    object
 11  leaves           683 non-null    object
 12  leafspots-halo   683 non-null    object
 13  leafspots-marg   683 non-null    object
 14  leafspot-size    683 non-null    object
 15  leaf-shread      683 non-null    object
 16  leaf-malf        683 non-null    object
 17  leaf-mild        683 non-null    object
 18  stem             683 non-null    object
 19  lodging          683 non-null    object
 20  stem-cankers     683 non-null    object
 21  canker-lesion    683 non-null    object
 22  fruiting-bodies  683 non-null    object
 23  external-decay   683 non-null    object
 24  mycelium         683 non-null    object
 25  int-discolor     683 non-null    object
 26  sclerotia        683 non-null    object
 27  fruit-pods       683 non-null    object
 28  fruit-spots      683 non-null    object
 29  seed             683 non-null    object
 30  mold-growth      683 non-null    object
 31  seed-discolor    683 non-null    object
 32  seed-size        683 non-null    object
 33  shriveling       683 non-null    object
 34  roots            683 non-null    object
 35  binaryClass      683 non-null    object
dtypes: object(36)
memory usage: 192.2+ KB

In [276]:
df.nunique()

date               7
plant-stand        2
precip             3
temp               3
hail               2
crop-hist          4
area-damaged       4
severity           3
seed-tmt           3
germination        3
plant-growth       2
leaves             2
leafspots-halo     3
leafspots-marg     3
leafspot-size      3
leaf-shread        2
leaf-malf          2
leaf-mild          3
stem               2
lodging            2
stem-cankers       4
canker-lesion      4
fruiting-bodies    2
external-decay     3
mycelium           2
int-discolor       3
sclerotia          2
fruit-pods         4
fruit-spots        4
seed               2
mold-growth        2
seed-discolor      2
seed-size          2
shriveling         2
roots              3
binaryClass        2
dtype: int64

In [277]:
df = pd.get_dummies(df, columns=['date'])
df['plant-stand']=df['plant-stand'].map({'lt-normal':0,'normal':1})
df['precip']=df['precip'].map({'lt-norm':0,'norm':1,'gt-norm':2})
df['temp']=df['temp'].map({'lt-norm':0,'norm':1,'gt-norm':2})
df['hail']=df['hail'].map({'no':0,'yes':1})
df['crop-hist']=df['crop-hist'].map({'diff-lst-year':0,'same-lst-sev-yrs':1,'same-lst-two-yrs':2, 'same-lst-yr':3})
df = pd.get_dummies(df, columns=['area-damaged'])
df['severity']=df['severity'].map({'minor':0,'severe':1,'pot-severe':2})
df['seed-tmt']=df['seed-tmt'].map({'none':0,'fungicide':1,'other':2})
df['germination']=df['germination'].map({'lt-80':0,'80-89':1,'90-100':2})
df['plant-growth']=df['plant-growth'].map({'norm':1,'abnorm':0})
df['leaves']=df['leaves'].map({'norm':1,'abnorm':0})
df = pd.get_dummies(df, columns=['leafspots-halo','leafspots-marg','leafspot-size','leaf-shread','leaf-malf','leaf-mild'])
df['stem']=df['stem'].map({'norm':1,'abnorm':0})
df['lodging']=df['lodging'].map({'no':0,'yes':1})
df = pd.get_dummies(df, columns=['stem-cankers','canker-lesion'])
df['fruiting-bodies']=df['fruiting-bodies'].map({'absent':0,'present':1})
df['external-decay']=df['external-decay'].map({'absent':0,'firm-and-dry':1,'watery':2})
df['mycelium']=df['mycelium'].map({'absent':0,'present':1})
df['int-discolor']=df['int-discolor'].map({'none':0,'brown':1, 'black':2})
df['sclerotia']=df['sclerotia'].map({'absent':0,'present':1})
df = pd.get_dummies(df, columns=['fruit-pods','fruit-spots'])
df['seed']=df['seed'].map({'norm':1,'abnorm':0})
df['mold-growth']=df['mold-growth'].map({'absent':0,'present':1})
df['seed-discolor']=df['seed-discolor'].map({'absent':0,'present':1})
df['seed-size']=df['seed-size'].map({'lt-norm':0,'norm':1})
df['shriveling']=df['shriveling'].map({'absent':0,'present':1})
df['roots']=df['roots'].map({'rotted':0,'galls-cysts':1,'norm':2})

df['binaryClass'] = df['binaryClass'].map({'N': 0, 'P': 1})

target = df['binaryClass']
df.drop(columns=['binaryClass'], inplace=True)
df['binaryClass'] = target



df.info()
df.to_csv(os.path.join(output_folder, 'dataset_1023_soybean.csv'), index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 683 entries, 0 to 682
Data columns (total 67 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   plant-stand                     683 non-null    int64
 1   precip                          683 non-null    int64
 2   temp                            683 non-null    int64
 3   hail                            683 non-null    int64
 4   crop-hist                       683 non-null    int64
 5   severity                        683 non-null    int64
 6   seed-tmt                        683 non-null    int64
 7   germination                     683 non-null    int64
 8   plant-growth                    683 non-null    int64
 9   leaves                          683 non-null    int64
 10  stem                            683 non-null    int64
 11  lodging                         683 non-null    int64
 12  fruiting-bodies                 683 non-null    int64
 13  external-decay                  683 non-null    int64
 14  mycelium                        683 non-null    int64
 15  int-discolor                    683 non-null    int64
 16  sclerotia                       683 non-null    int64
 17  seed                            683 non-null    int64
 18  mold-growth                     683 non-null    int64
 19  seed-discolor                   683 non-null    int64
 20  seed-size                       683 non-null    int64
 21  shriveling                      683 non-null    int64
 22  roots                           683 non-null    int64
 23  date_april                      683 non-null    bool
 24  date_august                     683 non-null    bool
 25  date_july                       683 non-null    bool
 26  date_june                       683 non-null    bool
 27  date_may                        683 non-null    bool
 28  date_october                    683 non-null    bool
 29  date_september                  683 non-null    bool
 30  area-damaged_low-areas          683 non-null    bool
 31  area-damaged_scattered          683 non-null    bool
 32  area-damaged_upper-areas        683 non-null    bool
 33  area-damaged_whole-field        683 non-null    bool
 34  leafspots-halo_absent           683 non-null    bool
 35  leafspots-halo_no-yellow-halos  683 non-null    bool
 36  leafspots-halo_yellow-halos     683 non-null    bool
 37  leafspots-marg_dna              683 non-null    bool
 38  leafspots-marg_no-w-s-marg      683 non-null    bool
 39  leafspots-marg_w-s-marg         683 non-null    bool
 40  leafspot-size_dna               683 non-null    bool
 41  leafspot-size_gt-1/8            683 non-null    bool
 42  leafspot-size_lt-1/8            683 non-null    bool
 43  leaf-shread_absent              683 non-null    bool
 44  leaf-shread_present             683 non-null    bool
 45  leaf-malf_absent                683 non-null    bool
 46  leaf-malf_present               683 non-null    bool
 47  leaf-mild_absent                683 non-null    bool
 48  leaf-mild_lower-surf            683 non-null    bool
 49  leaf-mild_upper-surf            683 non-null    bool
 50  stem-cankers_above-sec-nde      683 non-null    bool
 51  stem-cankers_above-soil         683 non-null    bool
 52  stem-cankers_absent             683 non-null    bool
 53  stem-cankers_below-soil         683 non-null    bool
 54  canker-lesion_brown             683 non-null    bool
 55  canker-lesion_dk-brown-blk      683 non-null    bool
 56  canker-lesion_dna               683 non-null    bool
 57  canker-lesion_tan               683 non-null    bool
 58  fruit-pods_diseased             683 non-null    bool
 59  fruit-pods_dna                  683 non-null    bool
 60  fruit-pods_few-present          683 non-null    bool
 61  fruit-pods_norm                 683 non-null    bool
 62  fruit-spots_absent              683 non-null    bool
 63  fruit-spots_brown-w/blk-specks  683 non-null    bool
 64  fruit-spots_colored             683 non-null    bool
 65  fruit-spots_dna                 683 non-null    bool
 66  binaryClass                     683 non-null    int64
dtypes: bool(43), int64(24)
memory usage: 156.9 KB

### 42. dataset_1039_hiva_agnostic.csv

In [288]:
df = pd.read_csv('class_imbalance/dataset_1039_hiva_agnostic.csv')
df.info()

df['label']= df['label'].replace(-1,0)

df.to_csv(os.path.join(output_folder, 'dataset_1039_hiva_agnostic.csv'), index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4229 entries, 0 to 4228
Columns: 1618 entries, attr0 to label
dtypes: int64(1618)
memory usage: 52.2 MB

### 43. dataset_1045_kc1-top5.csv

In [279]:
df = pd.read_csv('class_imbalance/dataset_1045_kc1-top5.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145 entries, 0 to 144
Data columns (total 95 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   PERCENT_PUB_DATA             145 non-null    int64
 1   ACCESS_TO_PUB_DATA           145 non-null    int64
 2   COUPLING_BETWEEN_OBJECTS     145 non-null    int64
 3   DEPTH                        145 non-null    int64
 4   LACK_OF_COHESION_OF_METHODS  145 non-null    int64
 5   NUM_OF_CHILDREN              145 non-null    int64
 6   DEP_ON_CHILD                 145 non-null    int64
 7   FAN_IN                       145 non-null    int64
 8   RESPONSE_FOR_CLASS           145 non-null    int64
 9   WEIGHTED_METHODS_PER_CLASS   145 non-null    int64
 10  minLOC_BLANK                 145 non-null    int64
 11  minBRANCH_COUNT              145 non-null    int64
 12  minLOC_CODE_AND_COMMENT      145 non-null    int64
 13  minLOC_COMMENTS              145 non-null    int64
 14  minCYCLOMATIC_COMPLEXITY     145 non-null    int64
 15  minDESIGN_COMPLEXITY         145 non-null    int64
 16  minESSENTIAL_COMPLEXITY      145 non-null    int64
 17  minLOC_EXECUTABLE            145 non-null    int64
 18  minHALSTEAD_CONTENT          145 non-null    float64
 19  minHALSTEAD_DIFFICULTY       145 non-null    float64
 20  minHALSTEAD_EFFORT           145 non-null    float64
 21  minHALSTEAD_ERROR_EST        145 non-null    float64
 22  minHALSTEAD_LENGTH           145 non-null    int64
 23  minHALSTEAD_LEVEL            145 non-null    float64
 24  minHALSTEAD_PROG_TIME        145 non-null    float64
 25  minHALSTEAD_VOLUME           145 non-null    float64
 26  minNUM_OPERANDS              145 non-null    int64
 27  minNUM_OPERATORS             145 non-null    int64
 28  minNUM_UNIQUE_OPERANDS       145 non-null    int64
 29  minNUM_UNIQUE_OPERATORS      145 non-null    int64
 30  minLOC_TOTAL                 145 non-null    int64
 31  maxLOC_BLANK                 145 non-null    int64
 32  maxBRANCH_COUNT              145 non-null    int64
 33  maxLOC_CODE_AND_COMMENT      145 non-null    int64
 34  maxLOC_COMMENTS              145 non-null    int64
 35  maxCYCLOMATIC_COMPLEXITY     145 non-null    int64
 36  maxDESIGN_COMPLEXITY         145 non-null    int64
 37  maxESSENTIAL_COMPLEXITY      145 non-null    int64
 38  maxLOC_EXECUTABLE            145 non-null    float64
 39  maxHALSTEAD_CONTENT          145 non-null    float64
 40  maxHALSTEAD_DIFFICULTY       145 non-null    float64
 41  maxHALSTEAD_EFFORT           145 non-null    float64
 42  maxHALSTEAD_ERROR_EST        145 non-null    float64
 43  maxHALSTEAD_LENGTH           145 non-null    float64
 44  maxHALSTEAD_LEVEL            145 non-null    float64
 45  maxHALSTEAD_PROG_TIME        145 non-null    float64
 46  maxHALSTEAD_VOLUME           145 non-null    float64
 47  maxNUM_OPERANDS              145 non-null    float64
 48  maxNUM_OPERATORS             145 non-null    float64
 49  maxNUM_UNIQUE_OPERANDS       145 non-null    int64
 50  maxNUM_UNIQUE_OPERATORS      145 non-null    int64
 51  maxLOC_TOTAL                 145 non-null    float64
 52  avgLOC_BLANK                 145 non-null    float64
 53  avgBRANCH_COUNT              145 non-null    float64
 54  avgLOC_CODE_AND_COMMENT      145 non-null    float64
 55  avgLOC_COMMENTS              145 non-null    float64
 56  avgCYCLOMATIC_COMPLEXITY     145 non-null    float64
 57  avgDESIGN_COMPLEXITY         145 non-null    float64
 58  avgESSENTIAL_COMPLEXITY      145 non-null    float64
 59  avgLOC_EXECUTABLE            145 non-null    float64
 60  avgHALSTEAD_CONTENT          145 non-null    float64
 61  avgHALSTEAD_DIFFICULTY       145 non-null    float64
 62  avgHALSTEAD_EFFORT           145 non-null    float64
 63  avgHALSTEAD_ERROR_EST        145 non-null    float64
 64  avgHALSTEAD_LENGTH           145 non-null    float64
 65  avgHALSTEAD_LEVEL            145 non-null    float64
 66  avgHALSTEAD_PROG_TIME        145 non-null    float64
 67  avgHALSTEAD_VOLUME           145 non-null    float64
 68  avgNUM_OPERANDS              145 non-null    float64
 69  avgNUM_OPERATORS             145 non-null    float64
 70  avgNUM_UNIQUE_OPERANDS       145 non-null    float64
 71  avgNUM_UNIQUE_OPERATORS      145 non-null    float64
 72  avgLOC_TOTAL                 145 non-null    float64
 73  sumLOC_BLANK                 145 non-null    float64
 74  sumBRANCH_COUNT              145 non-null    float64
 75  sumLOC_CODE_AND_COMMENT      145 non-null    int64
 76  sumLOC_COMMENTS              145 non-null    int64
 77  sumCYCLOMATIC_COMPLEXITY     145 non-null    float64
 78  sumDESIGN_COMPLEXITY         145 non-null    float64
 79  sumESSENTIAL_COMPLEXITY      145 non-null    float64
 80  sumLOC_EXECUTABLE            145 non-null    float64
 81  sumHALSTEAD_CONTENT          145 non-null    float64
 82  sumHALSTEAD_DIFFICULTY       145 non-null    float64
 83  sumHALSTEAD_EFFORT           145 non-null    float64
 84  sumHALSTEAD_ERROR_EST        145 non-null    float64
 85  sumHALSTEAD_LENGTH           145 non-null    float64
 86  sumHALSTEAD_LEVEL            145 non-null    float64
 87  sumHALSTEAD_PROG_TIME        145 non-null    float64
 88  sumHALSTEAD_VOLUME           145 non-null    float64
 89  sumNUM_OPERANDS              145 non-null    float64
 90  sumNUM_OPERATORS             145 non-null    float64
 91  sumNUM_UNIQUE_OPERANDS       145 non-null    float64
 92  sumNUM_UNIQUE_OPERATORS      145 non-null    float64
 93  sumLOC_TOTAL                 145 non-null    float64
 94  DL                           145 non-null    object
dtypes: float64(59), int64(35), object(1)
memory usage: 107.7+ KB

In [280]:
df['DL']=df['DL'].map({'NODEF': 0, 'DEF': 1})

df.info()
df.to_csv(os.path.join(output_folder, 'dataset_1045_kc1-top5.csv'), index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145 entries, 0 to 144
Data columns (total 95 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   PERCENT_PUB_DATA             145 non-null    int64
 1   ACCESS_TO_PUB_DATA           145 non-null    int64
 2   COUPLING_BETWEEN_OBJECTS     145 non-null    int64
 3   DEPTH                        145 non-null    int64
 4   LACK_OF_COHESION_OF_METHODS  145 non-null    int64
 5   NUM_OF_CHILDREN              145 non-null    int64
 6   DEP_ON_CHILD                 145 non-null    int64
 7   FAN_IN                       145 non-null    int64
 8   RESPONSE_FOR_CLASS           145 non-null    int64
 9   WEIGHTED_METHODS_PER_CLASS   145 non-null    int64
 10  minLOC_BLANK                 145 non-null    int64
 11  minBRANCH_COUNT              145 non-null    int64
 12  minLOC_CODE_AND_COMMENT      145 non-null    int64
 13  minLOC_COMMENTS              145 non-null    int64
 14  minCYCLOMATIC_COMPLEXITY     145 non-null    int64
 15  minDESIGN_COMPLEXITY         145 non-null    int64
 16  minESSENTIAL_COMPLEXITY      145 non-null    int64
 17  minLOC_EXECUTABLE            145 non-null    int64
 18  minHALSTEAD_CONTENT          145 non-null    float64
 19  minHALSTEAD_DIFFICULTY       145 non-null    float64
 20  minHALSTEAD_EFFORT           145 non-null    float64
 21  minHALSTEAD_ERROR_EST        145 non-null    float64
 22  minHALSTEAD_LENGTH           145 non-null    int64
 23  minHALSTEAD_LEVEL            145 non-null    float64
 24  minHALSTEAD_PROG_TIME        145 non-null    float64
 25  minHALSTEAD_VOLUME           145 non-null    float64
 26  minNUM_OPERANDS              145 non-null    int64
 27  minNUM_OPERATORS             145 non-null    int64
 28  minNUM_UNIQUE_OPERANDS       145 non-null    int64
 29  minNUM_UNIQUE_OPERATORS      145 non-null    int64
 30  minLOC_TOTAL                 145 non-null    int64
 31  maxLOC_BLANK                 145 non-null    int64
 32  maxBRANCH_COUNT              145 non-null    int64
 33  maxLOC_CODE_AND_COMMENT      145 non-null    int64
 34  maxLOC_COMMENTS              145 non-null    int64
 35  maxCYCLOMATIC_COMPLEXITY     145 non-null    int64
 36  maxDESIGN_COMPLEXITY         145 non-null    int64
 37  maxESSENTIAL_COMPLEXITY      145 non-null    int64
 38  maxLOC_EXECUTABLE            145 non-null    float64
 39  maxHALSTEAD_CONTENT          145 non-null    float64
 40  maxHALSTEAD_DIFFICULTY       145 non-null    float64
 41  maxHALSTEAD_EFFORT           145 non-null    float64
 42  maxHALSTEAD_ERROR_EST        145 non-null    float64
 43  maxHALSTEAD_LENGTH           145 non-null    float64
 44  maxHALSTEAD_LEVEL            145 non-null    float64
 45  maxHALSTEAD_PROG_TIME        145 non-null    float64
 46  maxHALSTEAD_VOLUME           145 non-null    float64
 47  maxNUM_OPERANDS              145 non-null    float64
 48  maxNUM_OPERATORS             145 non-null    float64
 49  maxNUM_UNIQUE_OPERANDS       145 non-null    int64
 50  maxNUM_UNIQUE_OPERATORS      145 non-null    int64
 51  maxLOC_TOTAL                 145 non-null    float64
 52  avgLOC_BLANK                 145 non-null    float64
 53  avgBRANCH_COUNT              145 non-null    float64
 54  avgLOC_CODE_AND_COMMENT      145 non-null    float64
 55  avgLOC_COMMENTS              145 non-null    float64
 56  avgCYCLOMATIC_COMPLEXITY     145 non-null    float64
 57  avgDESIGN_COMPLEXITY         145 non-null    float64
 58  avgESSENTIAL_COMPLEXITY      145 non-null    float64
 59  avgLOC_EXECUTABLE            145 non-null    float64
 60  avgHALSTEAD_CONTENT          145 non-null    float64
 61  avgHALSTEAD_DIFFICULTY       145 non-null    float64
 62  avgHALSTEAD_EFFORT           145 non-null    float64
 63  avgHALSTEAD_ERROR_EST        145 non-null    float64
 64  avgHALSTEAD_LENGTH           145 non-null    float64
 65  avgHALSTEAD_LEVEL            145 non-null    float64
 66  avgHALSTEAD_PROG_TIME        145 non-null    float64
 67  avgHALSTEAD_VOLUME           145 non-null    float64
 68  avgNUM_OPERANDS              145 non-null    float64
 69  avgNUM_OPERATORS             145 non-null    float64
 70  avgNUM_UNIQUE_OPERANDS       145 non-null    float64
 71  avgNUM_UNIQUE_OPERATORS      145 non-null    float64
 72  avgLOC_TOTAL                 145 non-null    float64
 73  sumLOC_BLANK                 145 non-null    float64
 74  sumBRANCH_COUNT              145 non-null    float64
 75  sumLOC_CODE_AND_COMMENT      145 non-null    int64
 76  sumLOC_COMMENTS              145 non-null    int64
 77  sumCYCLOMATIC_COMPLEXITY     145 non-null    float64
 78  sumDESIGN_COMPLEXITY         145 non-null    float64
 79  sumESSENTIAL_COMPLEXITY      145 non-null    float64
 80  sumLOC_EXECUTABLE            145 non-null    float64
 81  sumHALSTEAD_CONTENT          145 non-null    float64
 82  sumHALSTEAD_DIFFICULTY       145 non-null    float64
 83  sumHALSTEAD_EFFORT           145 non-null    float64
 84  sumHALSTEAD_ERROR_EST        145 non-null    float64
 85  sumHALSTEAD_LENGTH           145 non-null    float64
 86  sumHALSTEAD_LEVEL            145 non-null    float64
 87  sumHALSTEAD_PROG_TIME        145 non-null    float64
 88  sumHALSTEAD_VOLUME           145 non-null    float64
 89  sumNUM_OPERANDS              145 non-null    float64
 90  sumNUM_OPERATORS             145 non-null    float64
 91  sumNUM_UNIQUE_OPERANDS       145 non-null    float64
 92  sumNUM_UNIQUE_OPERATORS      145 non-null    float64
 93  sumLOC_TOTAL                 145 non-null    float64
 94  DL                           145 non-null    int64
dtypes: float64(59), int64(36)
memory usage: 107.7 KB

### 44. dataset_1049_pc4.csv

In [281]:
df = pd.read_csv('class_imbalance/dataset_1049_pc4.csv')
df.info()

os.rename('class_imbalance/dataset_1049_pc4.csv', 'clean_class_imbalance/dataset_1049_pc4.csv')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1458 entries, 0 to 1457
Data columns (total 38 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   LOC_BLANK                        1458 non-null   int64
 1   BRANCH_COUNT                     1458 non-null   int64
 2   CALL_PAIRS                       1458 non-null   int64
 3   LOC_CODE_AND_COMMENT             1458 non-null   int64
 4   LOC_COMMENTS                     1458 non-null   int64
 5   CONDITION_COUNT                  1458 non-null   float64
 6   CYCLOMATIC_COMPLEXITY            1458 non-null   int64
 7   CYCLOMATIC_DENSITY               1458 non-null   float64
 8   DECISION_COUNT                   1458 non-null   int64
 9   DECISION_DENSITY                 1458 non-null   int64
 10  DESIGN_COMPLEXITY                1458 non-null   int64
 11  DESIGN_DENSITY                   1458 non-null   float64
 12  EDGE_COUNT                       1458 non-null   float64
 13  ESSENTIAL_COMPLEXITY             1458 non-null   int64
 14  ESSENTIAL_DENSITY                1458 non-null   int64
 15  LOC_EXECUTABLE                   1458 non-null   int64
 16  PARAMETER_COUNT                  1458 non-null   int64
 17  HALSTEAD_CONTENT                 1458 non-null   float64
 18  HALSTEAD_DIFFICULTY              1458 non-null   float64
 19  HALSTEAD_EFFORT                  1458 non-null   float64
 20  HALSTEAD_ERROR_EST               1458 non-null   float64
 21  HALSTEAD_LENGTH                  1458 non-null   float64
 22  HALSTEAD_LEVEL                   1458 non-null   float64
 23  HALSTEAD_PROG_TIME               1458 non-null   float64
 24  HALSTEAD_VOLUME                  1458 non-null   float64
 25  MAINTENANCE_SEVERITY             1458 non-null   float64
 26  MODIFIED_CONDITION_COUNT         1458 non-null   int64
 27  MULTIPLE_CONDITION_COUNT         1458 non-null   int64
 28  NODE_COUNT                       1458 non-null   float64
 29  NORMALIZED_CYLOMATIC_COMPLEXITY  1458 non-null   float64
 30  NUM_OPERANDS                     1458 non-null   float64
 31  NUM_OPERATORS                    1458 non-null   float64
 32  NUM_UNIQUE_OPERANDS              1458 non-null   float64
 33  NUM_UNIQUE_OPERATORS             1458 non-null   int64
 34  NUMBER_OF_LINES                  1458 non-null   float64
 35  PERCENT_COMMENTS                 1458 non-null   float64
 36  LOC_TOTAL                        1458 non-null   int64
 37  c                                1458 non-null   bool
dtypes: bool(1), float64(20), int64(17)
memory usage: 423.0 KB

### 45. dataset_1050_pc3.csv

In [282]:
df = pd.read_csv('class_imbalance/dataset_1050_pc3.csv')
df.info()

os.rename('class_imbalance/dataset_1050_pc3.csv', 'clean_class_imbalance/dataset_1050_pc3.csv')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1563 entries, 0 to 1562
Data columns (total 38 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   LOC_BLANK                        1563 non-null   int64
 1   BRANCH_COUNT                     1563 non-null   float64
 2   CALL_PAIRS                       1563 non-null   int64
 3   LOC_CODE_AND_COMMENT             1563 non-null   int64
 4   LOC_COMMENTS                     1563 non-null   int64
 5   CONDITION_COUNT                  1563 non-null   float64
 6   CYCLOMATIC_COMPLEXITY            1563 non-null   float64
 7   CYCLOMATIC_DENSITY               1563 non-null   float64
 8   DECISION_COUNT                   1563 non-null   float64
 9   DECISION_DENSITY                 1563 non-null   float64
 10  DESIGN_COMPLEXITY                1563 non-null   int64
 11  DESIGN_DENSITY                   1563 non-null   float64
 12  EDGE_COUNT                       1563 non-null   float64
 13  ESSENTIAL_COMPLEXITY             1563 non-null   int64
 14  ESSENTIAL_DENSITY                1563 non-null   float64
 15  LOC_EXECUTABLE                   1563 non-null   float64
 16  PARAMETER_COUNT                  1563 non-null   int64
 17  HALSTEAD_CONTENT                 1563 non-null   float64
 18  HALSTEAD_DIFFICULTY              1563 non-null   float64
 19  HALSTEAD_EFFORT                  1563 non-null   float64
 20  HALSTEAD_ERROR_EST               1563 non-null   float64
 21  HALSTEAD_LENGTH                  1563 non-null   float64
 22  HALSTEAD_LEVEL                   1563 non-null   float64
 23  HALSTEAD_PROG_TIME               1563 non-null   float64
 24  HALSTEAD_VOLUME                  1563 non-null   float64
 25  MAINTENANCE_SEVERITY             1563 non-null   float64
 26  MODIFIED_CONDITION_COUNT         1563 non-null   float64
 27  MULTIPLE_CONDITION_COUNT         1563 non-null   float64
 28  NODE_COUNT                       1563 non-null   float64
 29  NORMALIZED_CYLOMATIC_COMPLEXITY  1563 non-null   float64
 30  NUM_OPERANDS                     1563 non-null   float64
 31  NUM_OPERATORS                    1563 non-null   float64
 32  NUM_UNIQUE_OPERANDS              1563 non-null   float64
 33  NUM_UNIQUE_OPERATORS             1563 non-null   int64
 34  NUMBER_OF_LINES                  1563 non-null   float64
 35  PERCENT_COMMENTS                 1563 non-null   float64
 36  LOC_TOTAL                        1563 non-null   float64
 37  c                                1563 non-null   bool
dtypes: bool(1), float64(29), int64(8)
memory usage: 453.5 KB

### 46. dataset_1056_mc1.csv

In [283]:
df = pd.read_csv('class_imbalance/dataset_1056_mc1.csv')
df.info()

os.rename('class_imbalance/dataset_1056_mc1.csv', 'clean_class_imbalance/dataset_1056_mc1.csv')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9466 entries, 0 to 9465
Data columns (total 39 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   LOC_BLANK                        9466 non-null   int64
 1   BRANCH_COUNT                     9466 non-null   float64
 2   CALL_PAIRS                       9466 non-null   int64
 3   LOC_CODE_AND_COMMENT             9466 non-null   int64
 4   LOC_COMMENTS                     9466 non-null   int64
 5   CONDITION_COUNT                  9466 non-null   float64
 6   CYCLOMATIC_COMPLEXITY            9466 non-null   int64
 7   CYCLOMATIC_DENSITY               9466 non-null   float64
 8   DECISION_COUNT                   9466 non-null   float64
 9   DESIGN_COMPLEXITY                9466 non-null   int64
 10  DESIGN_DENSITY                   9466 non-null   int64
 11  EDGE_COUNT                       9466 non-null   float64
 12  ESSENTIAL_COMPLEXITY             9466 non-null   int64
 13  ESSENTIAL_DENSITY                9466 non-null   int64
 14  LOC_EXECUTABLE                   9466 non-null   float64
 15  PARAMETER_COUNT                  9466 non-null   int64
 16  GLOBAL_DATA_COMPLEXITY           9466 non-null   int64
 17  GLOBAL_DATA_DENSITY              9466 non-null   int64
 18  HALSTEAD_CONTENT                 9466 non-null   float64
 19  HALSTEAD_DIFFICULTY              9466 non-null   float64
 20  HALSTEAD_EFFORT                  9466 non-null   float64
 21  HALSTEAD_ERROR_EST               9466 non-null   float64
 22  HALSTEAD_LENGTH                  9466 non-null   float64
 23  HALSTEAD_LEVEL                   9466 non-null   float64
 24  HALSTEAD_PROG_TIME               9466 non-null   float64
 25  HALSTEAD_VOLUME                  9466 non-null   float64
 26  MAINTENANCE_SEVERITY             9466 non-null   int64
 27  MODIFIED_CONDITION_COUNT         9466 non-null   int64
 28  MULTIPLE_CONDITION_COUNT         9466 non-null   float64
 29  NODE_COUNT                       9466 non-null   float64
 30  NORMALIZED_CYLOMATIC_COMPLEXITY  9466 non-null   float64
 31  NUM_OPERANDS                     9466 non-null   float64
 32  NUM_OPERATORS                    9466 non-null   float64
 33  NUM_UNIQUE_OPERANDS              9466 non-null   int64
 34  NUM_UNIQUE_OPERATORS             9466 non-null   int64
 35  NUMBER_OF_LINES                  9466 non-null   float64
 36  PERCENT_COMMENTS                 9466 non-null   float64
 37  LOC_TOTAL                        9466 non-null   float64
 38  c                                9466 non-null   bool
dtypes: bool(1), float64(22), int64(16)
memory usage: 2.8 MB

### 47. dataset_1059_ar1.csv

In [284]:
df = pd.read_csv('class_imbalance/dataset_1059_ar1.csv')
df.info()

os.rename('class_imbalance/dataset_1059_ar1.csv', 'clean_class_imbalance/dataset_1059_ar1.csv')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 121 entries, 0 to 120
Data columns (total 30 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   total_loc                         121 non-null    int64
 1   blank_loc                         121 non-null    int64
 2   comment_loc                       121 non-null    int64
 3   code_and_comment_loc              121 non-null    int64
 4   executable_loc                    121 non-null    int64
 5   unique_operands                   121 non-null    int64
 6   unique_operators                  121 non-null    int64
 7   total_operands                    121 non-null    int64
 8   total_operators                   121 non-null    int64
 9   halstead_vocabulary               121 non-null    int64
 10  halstead_length                   121 non-null    float64
 11  halstead_volume                   121 non-null    float64
 12  halstead_level                    121 non-null    float64
 13  halstead_difficulty               121 non-null    float64
 14  halstead_effort                   121 non-null    float64
 15  halstead_error                    121 non-null    float64
 16  halstead_time                     121 non-null    float64
 17  branch_count                      121 non-null    int64
 18  decision_count                    121 non-null    int64
 19  call_pairs                        121 non-null    int64
 20  condition_count                   121 non-null    int64
 21  multiple_condition_count          121 non-null    int64
 22  cyclomatic_complexity             121 non-null    int64
 23  cyclomatic_density                121 non-null    float64
 24  decision_density                  121 non-null    float64
 25  design_complexity                 121 non-null    int64
 26  design_density                    121 non-null    float64
 27  normalized_cyclomatic_complexity  121 non-null    float64
 28  formal_parameters                 121 non-null    int64
 29  defects                           121 non-null    bool
dtypes: bool(1), float64(11), int64(18)
memory usage: 27.7 KB

### 48. dataset_1061_ar4.csv

In [285]:
df = pd.read_csv('class_imbalance/dataset_1061_ar4.csv')
df.info()

os.rename('class_imbalance/dataset_1061_ar4.csv', 'clean_class_imbalance/dataset_1061_ar4.csv')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 107 entries, 0 to 106
Data columns (total 30 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   total_loc                         107 non-null    float64
 1   blank_loc                         107 non-null    float64
 2   comment_loc                       107 non-null    int64
 3   code_and_comment_loc              107 non-null    int64
 4   executable_loc                    107 non-null    float64
 5   unique_operands                   107 non-null    int64
 6   unique_operators                  107 non-null    int64
 7   total_operands                    107 non-null    float64
 8   total_operators                   107 non-null    float64
 9   halstead_vocabulary               107 non-null    int64
 10  halstead_length                   107 non-null    float64
 11  halstead_volume                   107 non-null    float64
 12  halstead_level                    107 non-null    float64
 13  halstead_difficulty               107 non-null    float64
 14  halstead_effort                   107 non-null    float64
 15  halstead_error                    107 non-null    float64
 16  halstead_time                     107 non-null    float64
 17  branch_count                      107 non-null    int64
 18  decision_count                    107 non-null    int64
 19  call_pairs                        107 non-null    int64
 20  condition_count                   107 non-null    int64
 21  multiple_condition_count          107 non-null    int64
 22  cyclomatic_complexity             107 non-null    int64
 23  cyclomatic_density                107 non-null    float64
 24  decision_density                  107 non-null    float64
 25  design_complexity                 107 non-null    int64
 26  design_density                    107 non-null    float64
 27  normalized_cyclomatic_complexity  107 non-null    float64
 28  formal_parameters                 107 non-null    int64
 29  defects                           107 non-null    bool
dtypes: bool(1), float64(16), int64(13)
memory usage: 24.5 KB

### 49. dataset_1064_ar6.csv

In [286]:
df = pd.read_csv('class_imbalance/dataset_1064_ar6.csv')
df.info()

os.rename('class_imbalance/dataset_1064_ar6.csv', 'clean_class_imbalance/dataset_1064_ar6.csv')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101 entries, 0 to 100
Data columns (total 30 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   total_loc                         101 non-null    int64
 1   blank_loc                         101 non-null    int64
 2   comment_loc                       101 non-null    int64
 3   code_and_comment_loc              101 non-null    int64
 4   executable_loc                    101 non-null    int64
 5   unique_operands                   101 non-null    int64
 6   unique_operators                  101 non-null    int64
 7   total_operands                    101 non-null    int64
 8   total_operators                   101 non-null    int64
 9   halstead_vocabulary               101 non-null    int64
 10  halstead_length                   101 non-null    float64
 11  halstead_volume                   101 non-null    float64
 12  halstead_level                    101 non-null    float64
 13  halstead_difficulty               101 non-null    float64
 14  halstead_effort                   101 non-null    float64
 15  halstead_error                    101 non-null    float64
 16  halstead_time                     101 non-null    float64
 17  branch_count                      101 non-null    float64
 18  decision_count                    101 non-null    int64
 19  call_pairs                        101 non-null    int64
 20  condition_count                   101 non-null    int64
 21  multiple_condition_count          101 non-null    int64
 22  cyclomatic_complexity             101 non-null    int64
 23  cyclomatic_density                101 non-null    float64
 24  decision_density                  101 non-null    float64
 25  design_complexity                 101 non-null    float64
 26  design_density                    101 non-null    float64
 27  normalized_cyclomatic_complexity  101 non-null    float64
 28  formal_parameters                 101 non-null    float64
 29  defects                           101 non-null    bool
dtypes: bool(1), float64(14), int64(15)
memory usage: 23.1 KB

### 50. dataset_1065_kc3.csv

In [287]:
df = pd.read_csv('class_imbalance/dataset_1065_kc3.csv')
df.info()

os.rename('class_imbalance/dataset_1065_kc3.csv', 'clean_class_imbalance/dataset_1065_kc3.csv')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 458 entries, 0 to 457
Data columns (total 40 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   LOC_BLANK                        458 non-null    int64
 1   BRANCH_COUNT                     458 non-null    int64
 2   CALL_PAIRS                       458 non-null    int64
 3   LOC_CODE_AND_COMMENT             458 non-null    int64
 4   LOC_COMMENTS                     458 non-null    int64
 5   CONDITION_COUNT                  458 non-null    int64
 6   CYCLOMATIC_COMPLEXITY            458 non-null    int64
 7   CYCLOMATIC_DENSITY               458 non-null    float64
 8   DECISION_COUNT                   458 non-null    int64
 9   DECISION_DENSITY                 458 non-null    float64
 10  DESIGN_COMPLEXITY                458 non-null    int64
 11  DESIGN_DENSITY                   458 non-null    float64
 12  EDGE_COUNT                       458 non-null    int64
 13  ESSENTIAL_COMPLEXITY             458 non-null    int64
 14  ESSENTIAL_DENSITY                458 non-null    float64
 15  LOC_EXECUTABLE                   458 non-null    int64
 16  PARAMETER_COUNT                  458 non-null    int64
 17  GLOBAL_DATA_COMPLEXITY           458 non-null    int64
 18  GLOBAL_DATA_DENSITY              458 non-null    float64
 19  HALSTEAD_CONTENT                 458 non-null    float64
 20  HALSTEAD_DIFFICULTY              458 non-null    float64
 21  HALSTEAD_EFFORT                  458 non-null    float64
 22  HALSTEAD_ERROR_EST               458 non-null    float64
 23  HALSTEAD_LENGTH                  458 non-null    float64
 24  HALSTEAD_LEVEL                   458 non-null    float64
 25  HALSTEAD_PROG_TIME               458 non-null    float64
 26  HALSTEAD_VOLUME                  458 non-null    float64
 27  MAINTENANCE_SEVERITY             458 non-null    float64
 28  MODIFIED_CONDITION_COUNT         458 non-null    int64
 29  MULTIPLE_CONDITION_COUNT         458 non-null    int64
 30  NODE_COUNT                       458 non-null    int64
 31  NORMALIZED_CYLOMATIC_COMPLEXITY  458 non-null    float64
 32  NUM_OPERANDS                     458 non-null    float64
 33  NUM_OPERATORS                    458 non-null    float64
 34  NUM_UNIQUE_OPERANDS              458 non-null    int64
 35  NUM_UNIQUE_OPERATORS             458 non-null    int64
 36  NUMBER_OF_LINES                  458 non-null    float64
 37  PERCENT_COMMENTS                 458 non-null    float64
 38  LOC_TOTAL                        458 non-null    int64
 39  c                                458 non-null    bool
dtypes: bool(1), float64(19), int64(20)
memory usage: 140.1 KB